<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
</head>

<body>
    <th:block th:fragment="frm-gestion-roles-frag">
	 	<div th:if="${globalErrorMsg}" class="col-md-12">
			
			<div class="alert alert-danger">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				<strong>Erreur!</strong> <span th:text="${globalErrorMsg}"></span>
			</div>
			
		</div>   
		<div class="col-md-12" style="margin-bottom: 10px;">
			<form class="form-inline" action="/staffadmin/administration/gestion-roles/form">
				<div class="form-group">
					<label class="control-label" for="matricule">Matricule</label>
					<input type="text" name="matricule" class="form-control" id="matricule" placeholder="matricule"/>							
					<button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-search"></i></button>					
				</div>
			</form>
		</div>
		
		<div class="col-md-12" style="margin-bottom: 10px;">
			<div class="panel panel-default">
				<div class="panel-heading">Gestion des roles</div>
				<div class="panel-body">
				
					<div class="col col-md-6">
						<div  class="panel panel-default" >
							<div class="panel-heading">
								<b><a href="#agent" data-toggle="collapse">Informations sur l'agent</a></b>

							</div>
							<div style="padding: 10px 0px;" class="panel-body panel-collapse collapse in" id="agent">
								<table th:if="${agent!=null}" class="table table-striped">

								 	<tr style="height: 50px;">
									    <th style="width: 50%; vertical-align: middle;" ></th>
									    <td style="width: 50%; vertical-align: middle;" >
												<span class="pull-right" th:if="${agent!=null}">
													<img th:title="${agent}" alt="photo de l'agent" th:src="@{'/staffadmin/photo-agent/'+ ${agent.idAgent}}" class="img-circle pull-right" style="height: 35px; width: 35px";>
												</span>					    
									    </td>
								  	</tr>

								 	<tr style="height: 50px;">
									    <th style="width: 50%; vertical-align: middle;" >Matricule</th>
									    <td style="width: 50%; vertical-align: middle;" th:text="${agent.matricule}"></td>
								  	</tr>
								  	<tr style="height: 50px;">
									    <th style="width: 50%; vertical-align: middle;">Nom</th>
									    <td style="width: 50%; vertical-align: middle;" th:text="${agent.nom}"></td>
								  	</tr>
								  	
								  	<tr style="height: 50px;">
									    <th style="width: 50%; vertical-align: middle;">Prénom</th>
									    <td style="width: 50%; vertical-align: middle;" th:text="${agent.prenom}"></td>
								  	</tr>					  	
								  	
								  	<tr style="height: 50px;">
									    <th style="width: 50%; vertical-align: middle;">Login</th>
									    <td style="width: 50%; vertical-align: middle;" th:text="${agent.user.username}"></td>
								  	</tr>
								  	
								  	<tr style="height: 50px;">
									    <th style="width: 50%; vertical-align: middle;">Roles</th>
									    <td style="width: 50%; vertical-align: middle;"><span th:each="role, stat:${agent.user.roles}" th:text="${stat.last ? role.role : role.role + ', '}"><span ></td>
								  	</tr>					  						  	
								</table>
			
				
							</div>
						</div>
					</div>
			
			
					<div class="col-md-6" style="margin-left: 0px;">
						<div class="panel panel-default" >
							<div class="panel-heading">
								<b><a href="#roles" data-toggle="collapse">Ajout / Suppression de roles</a></b>
							</div>
							
							<div class="panel-body panel-collapse collapse in" id="roles">
								<form id="setRolesForm" action="/staffadmin/administration/gestion-roles/setRoles">

									<div th:if="${agent!=null}" class="col-md-10">
										<div class="form-group">
											<label style="margin-bottom: 12px;" for="visibilite">Visibilité</label><br>
											<select class="form-control" id="visibilite" name="visibilite">
												<option value=""></option>
 												<option th:value="${ua.idUniteAdmin}" th:each="ua:${visibilitePossible}" th:selected="${agent.user.idUaChampVisuel == ua.idUniteAdmin }" th:text="${ua}"></option>
											</select>
										</div>
									</div>
									<div th:if="${agent!=null}" class="col-md-2">
										
										<label id="active-label" style="display:block;" class="control-label" for="active">Active</label> 
										<label class="switch" >
										  <input th:checked="${agent.user.active}" type="checkbox" name="active" id="active">
										  <span class="slider round"></span>
										</label>
																		
									</div>
									
									<div class="col-md-12">
										<select size="7" th:if="${agent!=null}" id="roles-selection" multiple="multiple" name="idRoles">
										
											<option  style="font-weight: bolder;" th:each="role:${roles}" th:selected="${agent.user.hasRole(role)}"  th:value="${role.idRole}" th:text="${role.role}">Alderaan</option>
										
										</select>
									</div>

											
									<input th:if="${agent!=null}" type="hidden" name="idUser" th:value="${agent.user.idUser}">
								</form>
							</div>
								
						</div>
					</div>
					
				</div>
				<button id="btnSetRolesForm" class="btn btn-lg btn-success pull-right" style="margin: 10px 18px;" type="button">Validate</button>
			</div>
			
		</div>

    </th:block>
</body>

</html>-