<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
</head>

<body>
    <th:block th:fragment="frm-gestion-roles-frag">
	 	<div th:if="${globalErrorMsg}" class="col-md-12">
			
			<div class="alert alert-danger">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				<strong>Erreur!</strong> <span th:text="${globalErrorMsg}"></span>
			</div>
			
		</div>   
		<div class="col-md-12" style="margin-bottom: 10px;">
			<form class="form-inline" action="/staffadmin/administration/gestion-roles/form">
				<div class="form-group">
					<label class="control-label" for="matricule">Matricule</label>
					<input type="text" name="matricule" class="form-control" id="matricule" placeholder="matricule"/>							
					<button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-search"></i></button>					
				</div>
			</form>
		</div>
		
		<div class="col-md-12" style="margin-bottom: 10px;">
			<div class="panel panel-default">
				<div class="panel-heading">Gestion des roles</div>
				<div class="panel-body">
					
						<div class="col col-md-12" th:if="${agent}">
							<th:block th:replace="administration/gestion-roles/frm-gestion-roles-user-infos-frag.html::frm-gestion-roles-user-infos-frag"></th:block>
						</div>
						
					<form method="post"  id="setRolesForm" th:action="@{/staffadmin/administration/gestion-roles/setRoles}">
						<input id="idUser" type="hidden" th:value="${agent.user.idUser}"  name="idUser"/>
						
						<div class="col col-md-6" th:if="${agent}">
							<th:block th:replace="administration/gestion-roles/frm-gestion-roles-roles-managing-frag.html::frm-gestion-roles-roles-managing-frag"></th:block>
						</div>
				
						<div class="col-md-6" style="margin-left: 0px;" th:if="${agent}">
							<th:block th:replace="administration/gestion-roles/frm-gestion-roles-privileges-managing-frag.html::frm-gestion-roles-privileges-managing-frag"></th:block>
						</div>
						<button id="btnSetRolesForm" class="btn btn-lg btn-success pull-right" style="margin: 10px 18px;" type="submit">Validate</button>
					</form>
				</div>
			</div>
			
		</div>

    </th:block>
</body>

</html>