<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head><meta charset="UTF-8"/></head>
    <body>
		<th:block th:fragment="confirmation-modal-frag">
<!-- 			<div class="modal" id="confirmation-modal">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">Liste des agents</div>
		                <div class="modal-body">
		                    <div class="col col-lg-4">
		                        <div class="form-group">
									<label for="nom">Nom</label> <span class="error-msg text-danger" id="nom-error-msg"></span>
			                        <input id="nom" name="nom" class="form-control" type="text" />
		                        </div>
		                    </div>
		                    <div class="col col-lg-4"></div>
		                    <div class="col col-lg-4"></div>
		                </div>						
					</div>
				</div>
			
			</div> -->

			<div class="modal fade" id="confirmation-modal">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
							<h4 class="modal-title">Voulez-vous enregistrer un nouvel agent avec les informations suivantes ?</h4>
						</div>
						<div class="modal-body">
							<div class="list-group">
								<li class="list-group-item">Nom 
									<span class="badge" id="confirmNom">Badge</span>
								</li>
								<li class="list-group-item">Prénom 
									<span class="badge" id="confirmPrenom">Badge</span>
								</li>
								
								<li class="list-group-item">Sexe 
									<span class="badge" id="confirmSexe">Badge</span>
								</li>
								
								<li class="list-group-item">Date de naissance 
									<span class="badge" id="confirmDateNaissance">Badge</span>
								</li>

								<li  class="list-group-item">Lieu de naissance 
									<span class="badge" id="confirmLieuNaissance">Badge</span>
								</li>

								<li class="list-group-item">Email 
									<span class="badge" id="confirmEmail">Badge</span>
								</li>
								

								
								
								<!-- 				====================================================================				--- -->
								
								
								<li class="list-group-item">Téléphone <span class="badge" id="confirmTel">Badge</span></li>
								<li  class="list-group-item">Type de Pièce <span class="badge" id="confirmTypePiece">Badge</span></li>
								<li  class="list-group-item">N° de pièce <span class="badge" id="confirmNumPiece">Badge</span></li>

								<li class="list-group-item">Nom du père <span class="badge" id="confirmNomPere">Badge</span></li>
								<li class="list-group-item">Nom de la mère <span class="badge" id="confirmNomMere">Badge</span></li>
								
								
								<li class="list-group-item">Fixe de bureau <span class="badge" id="confirmFixeBureau">Badge</span></li>

								<li class="list-group-item">Matricule <span class="badge" id="confirmMatricule">Badge</span></li>
								<li class="list-group-item">Fonction <span class="badge" id="confirmFonction">Badge</span></li>
								<li class="list-group-item">Emploi <span class="badge" id="confirmEmploi">Badge</span></li>
								<li class="list-group-item">Grade <span class="badge" id="confirmGrade">Badge</span></li>
								<li class="list-group-item">Première prise de service <span class="badge" id="confirmDatePriseService1">Badge</span></li>																
															
							</div>
							
							
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							<button type="submit" id="btn-submit-modal" class="btn btn-success">Save changes</button>
						</div>
					</div>
				</div>
			</div>
			
      	</th:block>
    </body>
</html>