<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head><meta charset="UTF-8"/></head>
    <body>
		<th:block th:fragment="confirmation-modal-frag">
<!-- 			<div class="modal" id="confirmation-modal">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">Liste des agents</div>
		                <div class="modal-body">
		                    <div class="col col-lg-4">
		                        <div class="form-group">
									<label for="nom">Nom</label> <span class="error-msg text-danger" id="nom-error-msg"></span>
			                        <input id="nom" name="nom" class="form-control" type="text" />
		                        </div>
		                    </div>
		                    <div class="col col-lg-4"></div>
		                    <div class="col col-lg-4"></div>
		                </div>						
					</div>
				</div>
			
			</div> -->

			<div class="modal fade" id="confirmation-modal">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
							<h4 class="modal-title">Voulez-vous enregistrer un nouvel agent avec les informations suivantes ?</h4>
						</div>
						<div class="modal-body">
							<table class="table table-striped confirmation-table ">
								<tbody>
									<tr>
										<th class="text-success" style="height: 50px;">Nom : </th> <th class="value"><span id="confirmNom">Badge</span></th>
										<th style="width: 100px;"></th>
										<th class="text-success" style="height: 50px;">Prenom :</th> <th><span class="value" id="confirmPrenom">Badge</span></th>
										
									</tr>

									<tr>
										<th class="text-success" style="height: 50px;">Lieu de naissance :</th> <th><span id="confirmLieuNaissance">Badge</span></th>
										<th style="width: 60px;"></th>
										<th class="text-success" style="height: 50px;">Date de naissance : </th> <th><span id="confirmDateNaissance">Badge</span></th>
									</tr>

									<tr>
										<th class="text-success" style="height: 50px;">Email : </th> <th class="value"><span id="confirmEmail">Badge</span></th>
										<th style="width: 60px;"></th>
										<th class="text-success" style="height: 50px;">Téléphone : </th> <th class="value"><span id="confirmTel">Badge</span></th>
										
									</tr>

									<tr>
										<th class="text-success" style="height: 50px;">Type de Pièce : </th> <th class="value"><span id="confirmTypePiece">Badge</span></th>
										<th style="width: 60px;"></th>
										<th class="text-success" style="height: 50px;">N° de pièce : </th> <th class="value"><span id="confirmNumPiece">Badge</span></th>
										
									</tr>

									<tr>
										<th class="text-success" style="height: 50px;">Nom du père : </th> <th class="value"><span id="confirmNomPere">Badge</span></th>
										<th style="width: 60px;"></th>
										<th class="text-success" style="height: 50px;">Nom de la mère : </th> <th class="value"><span id="confirmNomMere">Badge</span></th>
										
									</tr>

									<tr>
										<th class="text-success" style="height: 50px;">Matricule : </th> <th class="value"><span id="confirmMatricule">Badge</span></th>
										<th style="width: 60px;"></th>
										<th class="text-success" style="height: 50px;">Fonction : </th> <th class="value"><span id="confirmFonction">Badge</span></th>
									</tr>

									<tr>
										<th class="text-success" style="height: 50px;">Emploi : </th> <th class="value"><span id="confirmMatricule">Badge</span></th>
										<th style="width: 60px;"></th>
										<th class="text-success" style="height: 50px;">Grade : </th> <th class="value"><span id="confirmFonction">Badge</span></th>
									</tr>

									<tr>
										<th class="text-success" style="height: 50px;">Matricule : </th> <th class="value"><span id="confirmEmploi">Badge</span></th>
										<th style="width: 60px;"></th>
										<th class="text-success" style="height: 50px;">Fonction : </th> <th class="value"><span id="confirmGrade">Badge</span></th>
									</tr>

									<tr>
										<th class="text-success" style="height: 50px;">Fixe de bureau : </th> <th class="value"><span id="confirmFixeBureau">Badge</span></th>
										<th style="width: 60px;"></th>
										<th class="text-success" style="height: 50px;">Première prise de service : </th> <th class="value"><span id="confirmDatePriseService1">Badge</span></th>
									</tr>
									
								</tbody>
							</table>

								<!-- 				====================================================================				--- -->
								
								
								
								
								
															
							
							
							
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-lg btn-default" data-dismiss="modal">Annuler</button>
							<button type="submit" id="btn-submit-modal" class="btn btn-lg btn-success">Confirmer</button>
						</div>
					</div>
				</div>
			</div>
			
      	</th:block>
    </body>
</html>