<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/layout/layout}">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap3.min.css" integrity="sha256-ze/OEYGcFbPRmvCnrSeKbRTtjG4vGLHXgOqsyLFTRjg=" crossorigin="anonymous" />

    <style type="text/css">
        div.panel div.panel-heading {
            font-size: 20px;
            font-weight: bolder;
        }
        
        div.panel-default div.panel-heading,
        div.panel-default div.panel-heading a 
        {
            /*color:#39B510;*/
            color: #FF9008;
        }
        
        form label {
            font-size: 15px;
            font-weight: bolder;
            color: black;
        }
        
        form .error-msg 
        {
            font-size: 10px;
            font-weight: bolder;
            color: red;
            display: none;
        }
        
        #btn-modal-trigger,
        #btn-submit {
            display: none;
        }
        
        .form-group .error-msg {
            position: relative;
            margin-left: 0px;
        }
    </style>
</head>

<body>
    <div layout:fragment="content">
        <div class="container-fluid">
            <form id="frm-agent" th:action="@{/agents/save}" method="post" enctype="multipart/form-data">
                <div class="alert alert-danger col-lg-12 mb-3" th:if="${errorMsg}">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <strong>Erreur de saisie : </strong> 
                    <div th:text="${errorMsg}"></div>
                </div>
                <th:block th:replace="agent/frm/infos-generales-frag.html::infos-generales-frag"></th:block>
                <th:block th:replace="agent/frm/infos-emploi-frag.html::infos-emploi-frag"></th:block>
                <th:block th:replace="agent/frm/pieces-jointes-frag.html::pieces-jointes-frag"></th:block>
                <th:block th:replace="agent/frm/confirmation-modal-frag.html::confirmation-modal-frag"></th:block>
                <button class="btn btn-success mr-3" id="btn-modal-trigger" type="button" data-toggle="modal" href="#confirmation-modal">Valider</button>
                <button class="btn btn-success mr-3" id="btn-valider" type="button">Valider btn</button>
                <button class="btn btn-warning mr-3" id="btn-reset" type="reset">Reset</button>
                <button type="submit" id="btn-submit" class="btn btn-success btn-lg">Save</button>
            </form>
        </div>
        <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>

        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
        <!--  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.blockUI/2.70/jquery.blockUI.min.js"></script> -->
        <script src="lib/jquery/JQueryBolckUI.js"></script>
        
        <script> //==================DEFINITION DE QUELQUES FONCTIONS UTILITAIRES POUR LA VALIDATION DU FORMULAIRE==================

            //========================================Retourne la date dans le format dd/mm/yyyy====================================
            function getDateDefaultFormat(date)
            {
                return date.getDate() + "/" +(date.getMonth()+1)+"/"+(date.getYear()+1900);
            }
            //======================================================================================================================

            //==========Active ou desactive le boutton de validation du formulaire selon la validité du formulaire==================
            function switchOnOffBtnValider() //
            {
                if (
                        $("#email-error-msg").css("display") != "none" || $("#numPiece-error-msg").css("display") != "none" ||
                        $("#tel-error-msg").css("display") != "none" || $("#matricule-error-msg").css("display") != "none" ||
                        $("#dateNaissance-error-msg").css("display") != "none" || $("#datePriseService1-error-msg").css("display") != "none" ||
                        $("#noteServiceDAAF-error-msg").css("display") != "none"|| $("#noteServiceDGBF-error-msg").css("display") != "none" ||
                        $("#certificatService1-error-msg").css("display") != "none"|| $("#arreteNomination-error-msg").css("display") != "none" ||
                        $("#decisionAttente-error-msg").css("display") != "none" || $("#cv-error-msg").css("display") != "none" ||
                        $("#pieceIdentite-error-msg").css("display") != "none" || $("#photo-error-msg").css("display") != "none"
                    ) 
                {
                    $("#btn-valider").attr("disabled", "disabled");
                }
                else 
                {
                    $("#btn-valider").removeAttr("disabled");
                }
            }     
            //======================================================================================================================

            //===========================VERIFIE SI LA DATE EST COMPRISE DANS UNE FORCHETTE DONNEE++================================
            function checkDate(inputDateId, dateMin, dateMax, errorMsg, errorMsgId)
            {
                $("#"+inputDateId).blur(function ()
                {
                    var checkedDate = new Date(this.value);
                    if(checkedDate < dateMin || checkedDate > dateMax)
                    {
                        $("#"+errorMsgId).text(errorMsg);
                        $("#"+errorMsgId).show("slow");                        
                    }
                    else
                    {
                        $("#"+errorMsgId).hide("slow");
                        $("#"+errorMsgId).css("display","none");
                    }
                    switchOnOffBtnValider();
                });
            }
            //======================================================================================================================

            //==================FAIT DES APPELS AJAX POUR VERIFIER LA NON EXISTENCE DES VALEURS UNIQUES============================
            function unicityChecking(variant, checkedElmt, checkedValue, errorMsgElmt, errorMsg) 
            {
                if(checkedValue != null && checkedValue != "")
                {
                    const existingPromise = new Promise((resolve, reject) => 
                    {
                            $.ajax(
                            {
                                type: "get",
                                url: agentExistingRestUrl + variant + checkedValue,
                                success: function(response) 
                                {
                                    resolve(response);
                                },
                                error: function(error) 
                                {
                                    alert(agentExistingRestUrl + variant + checkedValue);
                                    alert("An error occured! Please check your connexion");
                                    reject(error);
                                }
                            });
                        
                    });
                

                    existingPromise.then((value) => 
                    {
                        if (value) 
                        {
                            errorMsgElmt.text(errorMsg);
                            errorMsgElmt.show("slow");                  
                            $("#btn-submit-modal").attr("disabled", "disabled");
                        } 
                        else 
                        {
                            errorMsgElmt.hide("slow");
                            errorMsgElmt.css("display", "none");
                            $("#btn-submit-modal").removeAttr("disabled");
                        }
                        switchOnOffBtnValider();
                    }).catch((value) => 
                    {

                    });
                }
            }   
            //======================================================================================================================  

            //=====================================FAIRE LA VALIDATION DES PIECES JOINTES===========================================
            
            
            function checkInputFile(checkedInputFileElmt, authorizeTypesTable, errorMsgId, typeErrorMsg, sizeErrorMsg)
            {
                //alert(checkedInputFileElmt.value);
                var reader = new FileReader();
                if(checkedInputFileElmt.value == "" ||checkedInputFileElmt.value ==null)
                {
                    //alert(checkedInputFileElmt.value);
                    $("#"+errorMsgId).hide('slow');
                    $("#"+errorMsgId).css('display', 'none');
                    switchOnOffBtnValider();
                }
                else
                {
                    reader.addEventListener('load', function()
                    {   
                            var fileType = checkedInputFileElmt.files[0].type;
                            var fileSize = checkedInputFileElmt.files[0].size;
                            //alert(fileType);
                            if(!authorizeTypesTable.includes(fileType))
                            {
                                $("#"+errorMsgId).text(typeErrorMsg);
                                $("#"+errorMsgId).show('slow');
                            }
                            else
                            {
                                if(fileSize<1000000)
                                {
                                    $("#"+errorMsgId).hide('slow');
                                    $("#"+errorMsgId).css('display', 'none');
                                }
                                else
                                {
                                    $("#"+errorMsgId).text(sizeErrorMsg);
                                    $("#"+errorMsgId).show('slow');
                                }
                            }
                            switchOnOffBtnValider();
                    });
                    
                    reader.readAsText(checkedInputFileElmt.files[0]);
                    
                }
            }
            $( function()
            {
                $( "#confirmation-modal" ).draggable();
            } );                  
        </script>
        

        <script>//=============================================IMPLEMENTATION DE LA VALIDATION======================================
            var today = new Date();
            var dateNaissMin = new Date(); 
            var dateNaissMax = new Date(); 
            var datePriseService1Min = new Date(); 
            var datePriseService1Max = new Date(); 
            var frmAgent = $("#frm-agent");
            var txtEmail = $("#email");
            var txtNumPiece = $("#numPiece");
            var txtTel = $("#tel");
            var txtMatricule = $("#matricule");
            var agentExistingRestUrl = "http://localhost:8081/staffadmin/exists/";
            var noteServiceDAAFInputFile = document.querySelector("#noteServiceDAAF");
            var docTypesTable = ["application/pdf", "image/jpeg","image/png"];
            var imageTypesTable = ["image/jpeg","image/png"];
            var pdfTypesTable = ["application/pdf"];

            document.querySelector("#noteServiceDAAF").addEventListener("change", function()
            {
                checkInputFile(this, pdfTypesTable , "noteServiceDAAF-error-msg", " * Document PDF requis", " * Taille limite = 1Mo" );
            });

            document.querySelector("#noteServiceDGBF").addEventListener("change", function()
            {
                checkInputFile(this, pdfTypesTable , "noteServiceDGBF-error-msg", " * Document PDF requis", " * Taille limite = 1Mo" );
            });

            document.querySelector("#certificatService1").addEventListener("change", function()
            {
                checkInputFile(this, pdfTypesTable , "certificatService1-error-msg", " * Document PDF requis", " * Taille limite = 1Mo" );
            });
            
            document.querySelector("#arreteNomination").addEventListener("change", function()
            {
                checkInputFile(this, pdfTypesTable , "arreteNomination-error-msg", " * Document PDF requis", " * Taille limite = 1Mo" );
            });

            document.querySelector("#decisionAttente").addEventListener("change", function()
            {
                checkInputFile(this, pdfTypesTable , "decisionAttente-error-msg", " * Document PDF requis", " * Taille limite = 1Mo" );
            });

            document.querySelector("#cv").addEventListener("change", function()
            {
                checkInputFile(this, docTypesTable , "cv-error-msg", " * Fichiers autorisés : PDF, JPEG, PNG", " * Taille limite = 1Mo" );
            });

            document.querySelector("#pieceIdentite").addEventListener("change", function()
            {
                checkInputFile(this, pdfTypesTable , "pieceIdentite-error-msg", " * Fichiers autorisé : PDF, JPEG, PNG", " * Taille limite = 1Mo" );
            });

            document.querySelector("#photo").addEventListener("blur", function()
            {
                checkInputFile(this, imageTypesTable , "photo-error-msg", " * Fichiers autorisé : JPEG, PNG", " * Taille limite = 1Mo" );
            });

            datePriseService1Min.setYear(today.getYear() - 50 + 1900);
            datePriseService1Max = today;

            dateNaissMin.setYear(today.getYear() -80 +1900);
            dateNaissMax.setYear(today.getYear() -18 +1900);
            checkDate("dateNaissance", dateNaissMin, dateNaissMax, " * "+getDateDefaultFormat(dateNaissMin)+" < date < "+getDateDefaultFormat(dateNaissMax), "dateNaissance-error-msg");
            checkDate("datePriseService1", datePriseService1Min, datePriseService1Max, " * "+getDateDefaultFormat(datePriseService1Min)+" < date < "+getDateDefaultFormat(datePriseService1Max), "datePriseService1-error-msg");

            $("#btn-valider").click(function(e) //Au click sur le bouton valider
            {
                if (!frmAgent[0].checkValidity()) //Si le formulaire n'est pas valide (Champ requis non renseigné ou email invalide)
                {
                    $("#btn-submit").trigger("click");//Je déclenche la soumission du formulaire pour que HTML5 le bolque et affiche le message correspondant 
                } 
                else 
                {
                    const formCheckPromise = new Promise((resolve, reject)=>
                    {
                        resolve();
                        $("#btn-modal-trigger").trigger("click");
                    });

                    formCheckPromise.then(()=>
                    {
                        txtEmail.trigger("blur");
                        txtMatricule.trigger("blur");
                        txtNumPiece.trigger("blur");
                        txtTel.trigger("blur");
                    });
                    
                }
            });

            //Appel ajax pour vérification d'unicité
            txtEmail.blur(function(e) 
            {
                unicityChecking("email/", txtEmail, e.target.value, $("#email-error-msg"), "*adresse email déjà utilisée");
            });

            txtMatricule.blur(function(e) 
            {
                unicityChecking("matricule/", txtMatricule, e.target.value, $("#matricule-error-msg"), "*matricule déjà utilisé");
            });

            txtNumPiece.blur(function(e) 
            {
                unicityChecking("numPiece/", txtNumPiece, e.target.value, $("#numPiece-error-msg"), "*N° déjà utilisé");
            });

            txtTel.blur(function(e) 
            {
                unicityChecking("tel/", txtTel, e.target.value, $("#tel-error-msg"), "*Tel déjà utilisé");
            });
        </script>
    </div>
</body>

</html>