<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head><meta charset="UTF-8"/></head>
    <body>
		<th:block th:fragment="infos-emploi-frag">
        	<div class="panel panel-default">
            	<div class="panel-heading"><a href="#infos-emploi" data-toggle="collapse" >Informations liées à l'emploi</a></div>
                <div class="panel-body panel-collapse collapse" id="infos-emploi">
                    <div class="col col-lg-2 ">
                        <div class="form-group">
							<label for="matricule">Matricule</label> <span class="error-msg text-danger" id="matricule-error-msg"></span>
	                        <input id="matricule" name="matricule" class="form-control" type="text" />
                        </div>
                    </div>
                    <div class="col col-lg-2">
                        <div class="form-group">
                            <label for="fonction">Fonction</label>
                            <span class="error-msg text-danger" id="fonction-error-msg"></span>
                            <select name="fonction" id="fonction" class="form-control" required="required">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                    <div class="col col-lg-2">
                        <div class="form-group">
                            <label for="grade">Grade</label>
                            <span class="error-msg text-danger" id="grade-error-msg"></span>
                            <select name="grade" id="grade" class="form-control" required="required">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                    <div class="col col-lg-3">
                        <div class="form-group">
                            <label for="datePriseService1">1ère prise de service</label>
                            <span class="error-msg text-danger" id="datePriseService1-error-msg"></span>                            
                            <input type="date" class="form-control" id="datePriseService1" name="datePriseService1"/>                            
                        </div>
                    </div>                                        
                    <div class="col col-lg-3">
                        <div class="form-group">
                            <label for="emploi">Emploi</label>
                            <span class="error-msg text-danger" id="emploi-error-msg"></span>
                            <select name="emploi" id="emploi" class="form-control" required="required">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>

                </div>
       		</div>
      	</th:block>
    </body>
</html>
