<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head><meta charset="UTF-8"/></head>
    <body>
		<th:block th:fragment="infos-generales-frag">
        	<div class="panel panel-default">
            	<div class="panel-heading"><a href="#infos-generales" data-toggle="collapse">Informations générales</a></div>
                <div class="panel-body panel-collapse collapse in" id="infos-generales" >

<!--                 ================================================LIGNE 1====================================                      -->
                    <div class="col col-lg-4">
                        <div class="form-group">
							<label for="nom">Nom</label> <span class="error-msg text-danger" id="nom-error-msg"></span>
	                       	<input  th:field="*{nom}" id="nom" class="form-control" type="text" required="required" />
                        </div>
                    </div>
                     <div class="col col-lg-4">
                        <div class="form-group">
							<label for="prenom">Prénom</label> <span class="error-msg text-danger" id="prenom-error-msg"></span>
	                        <input id="prenom" class="form-control" type="text" required="required"  th:field="*{prenom}"/>
                        </div>                    
                    </div>
                	<div class="col col-lg-3">
                        <div class="form-group">
							<label for="dateNaissance" id="lbl-dateNaissance">Date de naissance</label> <span class="error-msg text-danger" id="dateNaissance-error-msg"></span>
	                        <input id="dateNaissance" class="form-control" type="date" required="required"  th:field="*{dateNaissance}"/>
                        </div>                    
                    </div>
                    
                    <div class="col col-lg-1">
                        <div class="form-group">
							<label for="sexe">Sexe</label> <span class="error-msg text-danger" id="sexe-error-msg"></span>
	                        <select id="sexe" class="form-control" required="required" th:field="*{sexe}">
	                        	<option value="0"></option>
	                        	<option value="M">M</option>
	                        	<option value="F">F</option>
	                        </select>
                        </div>                    
                    </div>  
                    
<!--                     /*================================================LIGNE 2====================================*/   -->
                    <div class="col col-lg-4">
                        <div class="form-group">
							<label for="email" id="lbl-email">Email</label> <span class="error-msg text-danger" id="email-error-msg"></span>
	                        <input id="email" class="form-control" type="email" required="required" th:field="*{email}"/>
                        </div>
                    </div>
                    <div class="col col-lg-2">
                        <div class="form-group">
							<label for="departementNaissance">Dept. naissance</label> <span class="error-msg text-danger" id="lieuNaissance-error-msg"></span>
	                        <select id="departementNaissance" class="form-control" required="required" th:field="*{departementNaissance}">
	                        	<option value="">--Choisir--</option>
	                        	<option th:each="departement:${departements}" th:value="${departement.nom}" th:text="${departement.nom}">GRAND-LAHOU</option>
	                        	<option value="AUTRE_EN_AFRIQUE">Autre en Afrique</option>
	                        	<option value="AUTRE_HORS_AFRIQUE">Autre hors Afrique</option>
	                        </select>
                        </div>                    
                    </div>    
                    
                    <div class="col col-lg-2">
                    	<div class="form-group">
                    		<label for="lieuNaissance" class="control-label">Localité de naissance</label>
                    		<input class="form-control" type="text" id="lieuNaissance" th:field="*{lieuNaissance}"/>
                    	</div>
                    </div>
                               
                    <div class="col col-lg-2">
                        <div class="form-group">
							<label for="fixeBureau" id="lbl-fixeBureau">Fixe de bureau</label> <span class="error-msg text-danger" id="fixeBureau-error-msg"></span>
	                        <input id="fixeBureau" class="form-control" type="text" th:field="*{fixeBureau}"/>
                        </div>                    
                    </div>                    
                    <div class="col col-lg-2">
                        <div class="form-group">
							<label for="tel" id="lbl-tel">Mobile</label> <span class="error-msg text-danger" id="tel-error-msg"></span>
	                        <input id="tel" class="form-control" type="tel" required="required" th:field="*{tel}"/>
                        </div>                    
                    </div>
					
<!--                     /*================================================LIGNE 3====================================*/   -->
                    
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-2">
                        <div class="form-group">
                            <label for="typePiece">Type de pièce</label>
                            <span class="error-msg" id="typePiece-error-msg"></span>
                            <select id="typePiece" class="form-control" th:field="*{typePiece}">
                                <option value="0"></option>
                                <option value="CNI">CNI</option>
                                <option value="ATTESTATION D'IDENTITE">Attestation d'identité</option>
                                <option value="PASSEPORT">Passeport</option>
                                <option value="PERMIS DE CONDUIRE">Permis de conduire</option>                                
                            </select>
                        </div>
                    </div>
                    
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-2">
                        <div class="form-group">
                            
                        	<label for="numPiece" id="lbl-numPiece">N° Pièce</label> 
                            <span class="error-msg" id="numPiece-error-msg">*N° déjà utilisé</span>
                            
                            <input id="numPiece" class="form-control" type="text" required="required" th:field="*{numPiece}"/>
                        </div>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <div class="form-group">
                            <div>
                                <label for="nomPere">Nom du père</label> 
                                <span class="error-msg" id="nomPere-error-msg"></span>
                            </div>                            
                            <input id="nomPere" class="form-control" type="text" th:field="*{nomPere}"/>
                        </div>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label for="nomMere">Nom de la mère</label> 
                            <span class="error-msg" id="nomMere-error-msg"></span>                            
                            <input id="nomMere" class="form-control" type="text" th:field="*{nomMere}"/>
                        </div>
                    </div>                                    
                                      
                </div>
       		</div>
      	</th:block>
    </body>
</html>