<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head><meta charset="UTF-8"/></head>
    <body>
		<th:block th:fragment="frm-unite-admin-frag">						
            <form id="frm-unite-admin" th:object="${uniteAdmin}" th:action="@{/staffadmin/unite-admins/save}" method="post" enctype="multipart/form-data">
                <a class="btn btn-success mb-3" data-toggle="modal" href='#modal-id' data-backdrop="static" data-keyboard="false">Créer une unité administrative</a>
                <div class="modal fade" id="modal-id">
                    <div class="modal-dialog modal-md">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" id="btnTriggerNewUniteAdminModalForm" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title">Ajout d'unité administrative</h4>
                            </div>
                            <div class="modal-body">
                            
                                <th:block th:fragment="input-frm-unite-admin-frag">
	                                <div class="form-group">
	                                    <label for="appelation">Appelation</label>
	                                    <input required="required" th:field="*{appellation}" type="text" class="form-control" id="appellation" placeholder="Appellation">
	                                </div>
	                               
	                                <div class="col-md-6" style="padding: 0px 10px 0px 0px;">
	                                    <div class="form-group">
	                                        <label for="sigle">Sigle</label>
	                                        <input th:field="*{sigle}" type="text" class="form-control" id="sigle" placeholder="Sigle">
	                                    </div>
	                                </div>

	                                <div class="col-md-6" style="padding: 0px 0px 0px 10px;">
	                                    <div class="form-group">
	                                        <label for="contact">Contact</label>
	                                        <input th:field="*{contacts}" type="text" class="form-control" id="contacts" placeholder="Contacts">
	                                    </div>
	                                </div>

	                                <div class="col-md-6" style="padding: 0px 10px 0px 0px;">
	                                    <div class="form-group">
	                                        <label for="idTypeUniteAdmin">Type unité admin</label>
	                                        <select required="required" th:field="*{typeUniteAdmin.idTypeUniteAdmin}" class="form-control" id="idTypeUniteAdmin" style="width: 100%;">
	                                            <option value=""></option>
	                                            <option th:each="typeUniteAdmin : ${typesUniteAdmins}" th:text="${typeUniteAdmin.nomTypeUniteAdmin}" th:value="${typeUniteAdmin.idTypeUniteAdmin}"></option>
	                                        </select>
	                                    </div>
	                                </div>  

	                                <div class="col-md-6" style="padding: 0px 0px 0px 10px;">
	                                    <div class="form-group">
	                                        <label for="dateCreation">Date de création</label>
	                                        <input type="date" class="form-control" th:field="*{dateCreation}" id="date-creation" />
	                                    </div>   
	                                </div>       

	                                <div class="form-group">
	                                    <label for="idTutelleDirecte">Structure de tutelle directe</label>
	                                    <select required="required" th:field="*{tutelleDirecte.idUniteAdmin}" class="form-control" id="idTutelleDirecte" style="width: 100%;">
	                                        <option value="0"></option>
	                                        <option th:each="ua:${unitesAdmins}" th:value="${ua.idUniteAdmin}" th:text="${ua.appellation + ' ('+ ua.sigle + ')'}" th:selected="${ua.idUniteAdmin == uniteAdmin.tutelleDirecte.idUniteAdmin}"></option>
	                                    </select>
	                                </div>

	                                <div class="form-group">
	                                    <label for="situationGeo">Situation géographique</label>
	                                    <textarea required="required" th:field="*{situationGeo}"  class="form-control" id="situation-geo"></textarea>
	                                </div>
	                               
<!-- 	                                <div class="form-group"> -->
<!-- 	                                    <label for="ficheTech">Fiche technique</label> -->
<!-- 	                                    <input name="ficheTechFile" th:value="*{ficheTechFile}"  type="file" class="form-control-file" id="ficheTech"> -->
<!-- 	                                </div> -->
									
                                </th:block>
                                <th:block th:insert="unite-admin/frm-unite-submit-confirmation-dialog.html::frm-unite-submit-new-confirmation-dialog"></th:block>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal" >Close</button>
                                <button type="button" class="btn btn-success" data-dismiss="modal" id="btn-submit-new">Save changes</button>
                            </div>
							
                        </div>
                    </div>
                </div>
            </form>
      	</th:block>
    </body>
</html>