<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head><meta charset="UTF-8"/></head>
    <body>
		<th:block th:fragment="list-directions-regionales-frag">                     
            <div class="panel panel-default">
            	<div class="panel-heading"><a href="#directionsRegionales" data-toggle="collapse">Directions Régionales</a></div>
            </div>
            <div  id="directionsRegionales" class="panel-collapse collapse">
                <div th:each="dr:${directionsRegionales}" class="panel panel-success ml-20">
                	<div class="panel-heading" >
						<a th:href="@{'/staffadmin/unites-admins/'+${dr.idUniteAdmin}}" >
							<span th:text="${dr}" class="sub-admin-3"></span>
						</a> 

						<div class="btn-group pull-right">
							<button type="button" class="btn btn-theme dropdown-toggle"
								data-toggle="dropdown">
								Actions <span class="caret"></span>
							</button>
							<ul class="dropdown-menu" role="menu">
								<li>
									<a th:href="@{'/staffadmin/unites-admins/'+${dr.idUniteAdmin}}">
										<i class="glyphicon glyphicon-eye-open"></i> Voire
									</a>
								</li>
								<li>
									<a th:href="${'/staffadmin/unites-admins/frm/' + dr.idUniteAdmin}">
										<i class="glyphicon glyphicon-edit"></i>
										Modifier
									</a>
								</li>
										
								<li>
									<a th:href="${'/staffadmin/frm-affectations-groupees/' + dr.idUniteAdmin}">
										<i class="fa fa-users"></i>Affecter du personnel
									</a>
								</li>
								<li class="divider"></li>
								
<!-- 												th:href="@{'/pathvars/single/' + ${item.id}}" -->
									<!-- th:href="@{/pathvars/single/{id}(id = ${item.id})}"   (for single pathVariable)-->
							</ul>
						</div>
						
                	<div class="panel-body panel-collapse collapse" th:id="${'list-services-sd' + dr.idUniteAdmin}">
                		<h1>Liste des services</h1>
                		<table class="table table-striped table-condensed">
                			<thead>
                				<tr>
                					<th>Sigle</th>
                					<th>Appelation</th>
                					<th>Situation géographique</th>
                					<th>Date de création</th>
                					<th>Responsable</th>
                				</tr>
                			</thead>
                			<tbody>
                				<tr th:each="sce:${dr.uniteAdminSousTutelle}">
                					<td th:text="${sce.sigle}">Sigle</td>
                					<td th:text="${sce.appelation}">Appelation</td>
                					<td th:text="${sce.situationGeo}">Situation géographique</td>
                					<td th:text="${sce.dateCreation}">Responsable</td>
                					<td th:if="${sce.postManager}"><span th:if="${sce.postManager.agent}" th:text="${sce.postManager.agent}"></span></td>
                				</tr>                			
                			</tbody>
                		</table>
                	</div>                
                </div>
            </div>                     
      	</th:block>
    </body>
</html>