<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" 
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
                layout:decorate="~{fragments/layout/layout}">    
    
	<head>		
		<meta charset="utf-8">
		<style>
			ul li span .agent-property
			{
				left: 0px;
			}
		</style>
	</head>
	<body>
        <div layout:fragment="content">
			
			<th:block th:replace="user/change-password-frag.html::change-password-frag"></th:block>
            <!-- <button class="btn btn-success mr-3" id="btn-modal-trigger" type="button" data-toggle="modal" href="#change-password-modal">Valider</button> -->

        </div>
<!--         <th:block th:replace="fragments/layout/dependancies.html::js-dependancies"></th:block> -->
	</body>
</html>