<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head><meta charset="UTF-8"/></head>
    <body>
		<th:block th:fragment="change-password-frag">
			<div class="modal fade" id="change-password-modal">
				<div class="modal-dialog modal-md">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
							<h4 class="modal-title">Changement de mot de passe</h4>
						</div>
						<div class="modal-body">
							<form th:action="@{/staffadmin/change-password}" th:object=${userForm} method="POST">
								<div class="form-group">
									<label for="appelation">Username</label>
									<input required="required" th:field="*{user.username}" type="text" class="form-control" id="appelation" placeholder="Appelation">
								</div>

								<div class="form-group">
									<label for="sigle">Matricule</label>
									<input th:field="*{oldPassword}" type="text" class="form-control" id="sigle" placeholder="Sigle">
								</div>

								<div class="form-group">
									<label for="sigle">Nouveau mot de passe</label>
									<input th:field="*{newPassword}" type="text" class="form-control" id="sigle" placeholder="Sigle">
								</div>
							
								<div class="form-group">
									<label for="sigle">Confirmation</label>
									<input th:field="*{confirmPassword}" type="text" class="form-control" id="sigle" placeholder="Sigle">
									<input type="hidden" th:field="*{user.agent}" >
								</div>
								<button type="submit" id="btn-submit-modal" class="btn btn-success">Save changes</button>
								
							</form>
							
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							
						</div>
					</div>
				</div>
			</div>
			
      	</th:block>
    </body>
</html>