<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head><meta charset="UTF-8"/></head>
    <body>
		<th:block th:fragment="change-password-frag">
		
			<div class="panel panel-danger" th:if="${formError} != null">
				<div class="panel-heading" >
					<span th:text="${formError}">
											
					</span>
				</div>
			</div>		
		
			<div class="panel panel-default" id="change-password-panel">
				<div class="panel-heading">
					Changement du mot de passe
				</div>
				<div class="panel-body">
							<form th:action="@{/staffadmin/change-password}" th:object=${userForm} method="POST">

								<input type="hidden" th:field="*{user.idUser}" />
								<div class="form-group">
									<label for="appelation">Username</label>
									<input required="required" th:field="*{user.username}" type="text" class="form-control" id="appelation" placeholder="Appelation">
								</div>

								<div class="form-group">
									<label for="sigle">Matricule</label>
									<input th:field="*{oldPassword}" type="text" class="form-control" id="sigle" placeholder="Sigle">
								</div>

								<div class="form-group">
									<label for="sigle">Nouveau mot de passe</label>
									<input th:field="*{newPassword}" type="text" class="form-control" id="sigle" placeholder="Sigle">
								</div>
							
								<div class="form-group">
									<label for="sigle">Confirmation</label>
									<input th:field="*{confirmPassword}" type="text" class="form-control" id="sigle" placeholder="Sigle">
									<input type="hidden" th:field="*{user.agent}" >
									<input type="hidden" th:field="*{user.active}" >
								</div>
								<button type="submit" id="btn-submit-form" class="btn btn-success">Save changes</button>
								
							</form>				
				</div>

				</div>
			</div>
			
      	</th:block>
    </body>
</html>