<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:th="http://www.thymeleaf.org">
    <head>
    	<meta charset="utf-8"/>
    </head>

<body>

	<th:block th:fragment="docs-admins-frag">
			    		
    	<div class="main-content-block-item">
			<div  class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title"><a href="#docs-admins" data-toggle="collapse">Documents administratifs</a></h3>
				</div>	
				<div class="panel-body panel-collapse collapse in" id="docs-admins" >			    	
					<table id="tbl-typeArchive" class="table table-condensed">
						<thead>
							<tr>
								<th>Type d'archive</th>
								<th>N° Act</th>
								<td>Description</td>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="archiveAgent:${listArchivesAgent}">
								<td  th:text="${archiveAgent.typeArchive.nom}"></td>
								<td th:text="${archiveAgent.numArchive}"></td>
								<td th:text="${archiveAgent.description}"></td>		
																
								<td>
									<a title="Télécharger" class="btn btn-orange" th:href="@{'/staffadmin/archiveAgent/download/'+${archiveAgent.id}}">
										<i style="color: green;" class="glyphicon glyphicon-download-alt"></i>
									</a>
									
									<a title="Supprimer" class="btn btn-orange" data-toggle="modal" th:href="'#modal' + ${archiveAgent.id}" th:attr="data-bs-target='#modal' + ${archiveAgent.id}" id="modal-trigger">
										<i style="color: red;" class="glyphicon glyphicon-trash"></i>
									</a>
									
								</td>	
								
								<div class="modal fade" th:id="'modal' + ${archiveAgent.id}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
								 	<div class="modal-dialog">
									    <div class="modal-content">
									     	<div class="modal-header">
										        
										        <button type="button" class="close btn pull-right" data-dismiss="modal" data-bs-dismiss="modal" aria-label="Close">X</button>
									     		<h4 class="modal-title" id="exampleModalLabel">Confirmation de la suppression</h4>
									     	</div>
									     	<div class="modal-body">
									        	Voulez-vous vraiment supprimer le document?
									     	</div>
									      	<div class="modal-footer">
									        	<button type="button" class="btn btn-secondary" data-dismiss="modal" data-bs-dismiss="modal">Close</button>
									      
									        	<a th:href="@{'/staffadmin/archiveAgent/delete/'+${archiveAgent.id}+'?idAgent='+${archiveAgent.agent.idAgent}}" id="btn-delete" type="button" class="btn btn-primary">Delete</a>
									      	</div>
									    </div>
								 	</div>
								</div>
																									
							</tr>
						</tbody>
					</table>						    		
				</div>
			</div>	
		</div>	
	</th:block>

</body>
</html>