<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head><meta charset="UTF-8"/></head>
    <body>
		<th:block th:fragment="gestion-privilege-modal-frag">
			<a style="font-weight: bolder;" class="btn btn-success" data-toggle="modal" href='#gestion-privilege-modal-frag'>Gérer les privilèges</a>
			<div class="modal fade" id="gestion-privilege-modal-frag">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
							<h4 class="modal-title">Modal title</h4>
						</div>
						<div class="modal-body">
							<form action="/" >
								<ul th:each="r : ${modelRoles}">
									<li>
										<input type="checkbox" th:id="${r.idRole}" th:name="${r.role}" th:disabled="${r.role == 'AGENT'}" th:checked="${visitedUser.hasRole(r)}" th:value="${r.role}"/> 
										<label th:for="${r.idRole}" th:text="${r.role}"></label>
									</li>
								</ul>
							</form>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							<button type="submit" class="btn btn-primary">Valider</button>
						</div>
					</div>
				</div>
			</div>
			
      	</th:block>
    </body>
</html>