<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:th="http://www.thymeleaf.org">
    <head>
    	<meta charset="utf-8"/>
    </head>

<body>

	<th:block th:fragment="infos-personnelles-frag">
			    	
			    		<div class="main-content-block-item" style="margin-left: 0px;">
					    	<div class="panel orange-panel">
					    		<div class="panel-heading">
					    			<h3 class="panel-title"><a href="#infos-personnelles" data-toggle="collapse">Informations personnelles</a></h3>
					    		</div>
					    		<div id = "infos-personnelles" class="list-group panel-collapse collapse in">
						    		<li class="list-group-item"> 
						    			<b>Nom :</b>
						    			<span class="badge" th:text="${visitedUser.agent.nom}"></span>
						    		</li>
						    		<li class="list-group-item"> 
						    			<b>Prénom : </b>
						    			<span class="badge" th:text="${visitedUser.agent.prenom}"></span>
						    		</li>
						    		<li class="list-group-item"> 
						    			<b> Sexe :</b> 
						    			<span class="badge" th:text="${visitedUser.agent.sexe}"></span>
						    		</li>
						    		<li class="list-group-item"> 
						    			<b>Date de naissance : </b>
						    			<span class="badge" th:text="${visitedUser.agent.dateNaissance}"></span>
						    		</li>
						    		<li class="list-group-item"> 
						    			<b>Lieu de naissance :</b> 
						    			<span class="badge" th:text="${visitedUser.agent.lieuNaissance}"></span>
						    		</li>
						    		<li class="list-group-item"> 
						    			<b>E-mail :</b> 
						    			<span class="badge" th:text="${visitedUser.agent.email}"></span>
						    		</li>
						    		<li class="list-group-item"> 
						    			<b>Téléphone : </b>
						    			<span class="badge" th:text="${visitedUser.agent.tel}"></span>
						    		</li>
					    		</div>
					    	</div>
					    </div>
			    		    			
	</th:block>

</body>
</html>