<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:th="http://www.thymeleaf.org">
    <head>
    	<meta charset="utf-8"/>
    </head>

<body>

	<th:block th:fragment="infos-personnelles-frag">
			    	
			    		<div class="main-content-block-item" style="margin-left: 0px;">
					    	<div class="panel orange-panel">
					    		<div class="panel-heading">
					    			<h3 class="panel-title"><a href="#infos-personnelles" data-toggle="collapse">Informations personnelles</a></h3>
					    		</div>
								<div id="infos-personnelles" class="panel-body panel-collapse collapse in">
									<table class="table table-striped">
										<tbody>
											<tr style="height: 60px;">
												<th class="text-success">Nom : </th> <th style="color: rgb(3, 3, 59);" th:text="${visitedUser.agent.nom}">Nom : </th>
												<th style="width: 100px;"></th>
												<th class="text-success">Prenom : </th> <th style="color: rgb(3, 3, 59);"  th:text="${visitedUser.agent.prenom}"></th>
												<th style="width: 100px;"></th>
												<th class="text-success">Civilité : </th> <th style="color: rgb(3, 3, 59);" th:text="${visitedUser.agent.sexe=='F' ? 'Madame' : 'Monsieur'}"></th>
											</tr>
	
											<tr style="height: 60px;">
												<th class="text-success">Date de naissance : </th> <th style="color: rgb(3, 3, 59);" th:text="${visitedUser.agent.dateNaissance}">Nom : </th>
												<th style="width: 100px;"></th>
												<th class="text-success">Lieu de naissance : </th> <th style="color: rgb(3, 3, 59);" th:text="${visitedUser.agent.lieuNaissance}"></th>
												<th style="width: 100px;"></th>
												<th class="text-success">Matricule :</th> <th style="color: rgb(3, 3, 59);" th:text="${visitedUser.agent.matricule}"></th>
												
											</tr>
	
											<tr style="height: 60px;">
												<th class="text-success">Email : </th> <th style="color: rgb(3, 3, 59);" th:text="${visitedUser.agent.email}">Nom : </th>
												<th style="width: 100px;"></th>
												<th class="text-success">Téléphone : </th> <th style="color: rgb(3, 3, 59);" th:text="${visitedUser.agent.tel}"></th>
												<th style="width: 100px;"></th>
												<th></th><th></th>
											</tr>
										</tbody>
									</table>
								</div>
					    	</div>
					    </div>			
	</th:block>

</body>
</html>