<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:th="http://www.thymeleaf.org">
    <head>
    	<meta charset="utf-8"/>
    </head>

<body>

	<th:block th:fragment="infos-professionnelles-frag">
			    	
					    <div class="main-content-block-item" id = "infos">
					    	<div  class="panel orange-panel">
					    		<div class="panel-heading">
					    			<h3 class="panel-title"><a href="#infos-professionnelles" data-toggle="collapse"> Informations professionnelles</a></h3>
					    		</div>	
					    		<div class="list-group panel-collapse collapse" id="infos-professionnelles" >			    	
						    		<li class="list-group-item"> Structure :  <a class="pull-right" th:href="@{'/staffadmin/unites-admins/' + ${visitedUser.agent.tutelleDirecte.idUniteAdmin}}"><span class="badge" th:text="${visitedUser.agent.tutelleDirecte}"></span></a></li>
						    		<li class="list-group-item"> Fonction : <span class="badge" th:text="${visitedUser.agent.fonction.nomFonction}"></span></li>
						    		<li class="list-group-item"> Matricule : <span class="badge" th:text="${visitedUser.agent.matricule}"></span></li>
						    		<li class="list-group-item"> Emploi : <span class="badge" th:text="${visitedUser.agent.emploi.nomEmploi}"></span></li>
						    		<li class="list-group-item"> Grade : <span class="badge" th:text="${visitedUser.agent.grade.nomGrade}"></span></li>
					    		</div>
					    	</div>	
					    </div>
			    		    			
	</th:block>

</body>
</html>