<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:th="http://www.thymeleaf.org">
    <head>
    	<meta charset="utf-8"/>
    </head>

<body>

	<th:block th:fragment="infos-professionnelles-frag">
			    	
					    <div class="main-content-block-item" id = "infos">
					    	<div  class="panel orange-panel">
					    		<div class="panel-heading">
					    			<h3 class="panel-title"><a href="#infos-professionnelles" data-toggle="collapse"> Informations professionnelles</a></h3>
					    		</div>	
					    		<div class="panel-body panel-collapse collapse in" id="infos-professionnelles" >			    	
						    		
									<table class="table table-striped">
										<tbody>
											<tr style="height: 60px;" th:each="tutelle, status:${tutellesHierarchieTree}">
												
												<th class="text-success" th:text="${status.first} ? 'Tutelle directe : ' : ${tutelle.typeUniteAdmin.nomTypeUniteAdmin + ' : '}"></th>
												
												
												<th>
													<a  th:href="@{'/staffadmin/unites-admins/' + ${tutelle.idUniteAdmin}}">
														<span th:text="${tutelle}"></span>
													</a>
												</th>
												
												<th ></th> <th ></th>
											</tr>
	
											<tr style="height: 60px;">
												<th class="text-success">Fonction :</th><th style="color: rgb(3, 3, 59);" th:text="${visitedUser.agent.fonction.nomFonction}">Matricule</th>
												
												<th class="text-success">Grade : </th> <th style="color: rgb(3, 3, 59);" th:text="${visitedUser.agent.grade.nomGrade}">Grade : </th>
												
											</tr>
	
											<tr style="height: 60px;">
												<th class="text-success">Emploi : </th> <th style="color: rgb(3, 3, 59);" th:text="${visitedUser.agent.emploi.nomEmploi}">Emploi : </th>
											
												<th class="text-success">Fixe de bureau: </th> <th style="color: rgb(3, 3, 59);" th:text="${visitedUser.agent.fixeBureau}">FixeBureau </th>
											</tr>
										</tbody>
									</table>
					    		</div>
					    	</div>	
					    </div>
			    		    			
	</th:block>

</body>
</html>