<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" 
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
                layout:decorate="~{fragments/layout/layout}">    
    
	<head>		
		<meta charset="utf-8">
		<style>
			ul li span .agent-property
			{
				left: 0px;
			}
		</style>
	</head>
	<body>
        <div layout:fragment="content">
			
			<div style="margin-bottom: 10px;">
				<span th:if="${2 == visitedUser.agent.idAgent}">
					<a class="btn btn-success" style="font-weight: bolder;" type="button" th:href="@{/staffadmin/change-password}">
						Changer votre mot de passe <i class="fa fa-key"></i>
					</a>
				</span>
			</div>
			
			<th:block th:replace="user/summary-card-frag.html::summary-card-frag"></th:block>
			<th:block th:replace="user/infos-personnelles-frag.html::infos-personnelles-frag"></th:block>
			<th:block th:replace="user/infos-professionnelles-frag.html::infos-professionnelles-frag"></th:block>
			<th:block th:replace="user/situation-conges-frag.html::situation-conges-frag"></th:block>
			<th:block th:replace="user/docs-admins-frag.html::docs-admins-frag"></th:block>
<!-- 		<th:block th:replace="user/change-password-modal-frag.html::change-password-modal-frag"></th:block> -->
            <!-- <button class="btn btn-success mr-3" id="btn-modal-trigger" type="button" data-toggle="modal" href="#change-password-modal">Valider</button> -->


	

        </div>

        <th:block layout:fragment="js-specifics-dependancies">
			<script>
				function readURL(input) 
				{
					if (input.files && input.files[0]) 
					{
						var reader = new FileReader();
						
						reader.onload = function (e) 
						{
							$('#photo-tag').attr('src', e.target.result);
						}
						reader.readAsDataURL(input.files[0]);
					}
				}
				$("#photo").change(function()
				{
					readURL(this);
				});

				$("#btn-choose-file").click(function(e)
				{
					$("#photo").trigger("click");
				});
			</script>
		</th:block>	
	</body>
</html>