<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:th="http://www.thymeleaf.org">
    <head>
    	<meta charset="utf-8"/>
    </head>

<body>

	<th:block th:fragment="situation-conges-frag">
			    	<div id = "infos" class="panel-body">
			    		
					    <div class="col col-lg-12">
					    	<div  class="panel orange-panel">
					    		<div class="panel-heading">
					    			<h3 class="panel-title"><a href="#situation-conges" data-toggle="collapse"> Situation congés</a></h3>
					    		</div>	
					    		<div class="list-group panel-collapse collapse" id="situation-conges" >			    	
						    		<li class="list-group-item"> Ministère : <span class="badge" th:text="${user.agent.fixeBureau}"></span></li>
						    		<li class="list-group-item"> Structure : <span class="badge" th:text="${user.agent.matricule}"></span></li>
						    		<li class="list-group-item"> Fonction : <span class="badge" th:text="${user.agent.sexe}"></span></li>
						    		<li class="list-group-item"> Matricule : <span class="badge" th:text="${user.agent.dateNaissance}"></span></li>
						    		<li class="list-group-item"> Type de pièce : <span class="badge" th:text="${user.agent.typePiece}"></span></li>
						    		<li class="list-group-item"> N° de pièce : <span class="badge" th:text="${user.agent.numPiece}"></span></li>
						    		<li class="list-group-item"> Type d'abonné : <span class="badge" th:text="${user.agent.numPiece}"></span></li>
					    		</div>
					    	</div>	
					    </div>
			    	</div>		    			
	</th:block>

</body>
</html>