<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:th="http://www.thymeleaf.org">
    <head>
    	<meta charset="utf-8"/>
    </head>

<body>

	<th:block th:fragment="summary-card-frag">
		
			<div class="row content-panel main-content-block-item" style="margin-left: 2px; margin-bottom: 10px;">
				<div class="col-md-3 profile-text mt mb centered">
				<div class="right-divider hidden-sm hidden-xs">
					<h4 th:text="${visitedUser.agent.nom + ' ' + visitedUser.agent.prenom}">Nom Prénom</h4>
					<h6 th:text="${visitedUser.agent.email}">----</h6>
					<h4 th:text="${'Age : ' + visitedUser.agent.age + ' ans'}"></h4>
					<h6>----</h6>
					<h4 th:text="${'Depart retraite : '+ #dates.format(visitedUser.agent.dateDepartRetraite, 'dd-MM-yyy')}"></h4>
					<h6 th:text="'(Dans ' + ${visitedUser.agent.tempsTravailRestant} + ')'">(dans 43 ans)</h6>
				</div>
				</div>
				<!-- /col-md-4 -->
				<div class="col-md-6 profile-text centered mt">
					
					<h4 th:text="${visitedUser.agent.titre==null} ? ${visitedUser.agent.fonction.nomFonction} : ${visitedUser.agent.titre}">Main Administrator</h4>
					<h6><br/></h6>
					<h4 th:text="${'Grade ' + visitedUser.agent.grade.nomGrade}"></h4>
					<h6><br/></h6>
					<h4 th:text="${visitedUser.agent.emploi.nomEmploi}"></h4>
					<h6></h6>
					<br/>

				</div>
				
				<!-- /col-md-4 -->
	 			<div class="col-md-3 centered">
					<div class="profile-pic">
						<p><img id="photo-tag" th:src="@{'/staffadmin/agents/'+${visitedUser.agent.idAgent}+'/photo'}" class="img-circle"/></p>
						<p>
							<input type="file" id="photo" style="display: none;"/>
							<button id="btn-choose-file" class="btn btn-theme"><i class="fa fa-check"></i> Choisir un fichier</button>
							<button class="btn btn-theme02">Upload</button>
						</p>
					</div>
				</div> 
				
				<div class="col-md-12" style="align-content: center; align-items: center; text-align: center;">
					<p>
						<a th:href="@{'/staffadmin/frm-agent?idAgent=' + ${visitedUser.agent.idAgent}}" class="btn btn-theme" ><i class="fa fa-edit"></i> Modifier</a>
						<a th:href="@{'/staffadmin/affectations/'+${visitedUser.agent.idAgent}}" class="btn btn-theme"><i class="glyphicon glyphicon-send"></i> Affecter</a>
						<a th:href="@{/staffadmin/nominations/form(idAgent=${visitedUser.agent.idAgent})}" class="btn btn-theme"><i class="fa fa-bullhorn"></i> Nommer à un post</a>
					</p>
				</div>				
				<!-- /col-md-4 -->
			</div>
			    			
	</th:block>

</body>
</html>