<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
</head>

<body>
    <th:block th:fragment="frm-confirmation-affectation-frag">
    	
        <div  th:if="${globalErrorMsg}" class="alert alert-danger main-content-block-item">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong>Erreur!</strong> <span th:text="${globalErrorMsg}"></span>
        </div>
        
        <div class="panel panel-default main-content-block-item">
            <div class="panel-heading">
            	<a href="#frm-affectation" data-toggle="collapse">Confirmez-vous cette affectation ?</a>
            	<span>
					<img th:title="${affectation.agent}" alt="photo de l'agent" th:src="@{'/staffadmin/agents/'+ ${affectation.agent.idAgent}+'/photo'}" class="img-circle pull-right" style="height: 3%; width: 3%";>
				</span>
            </div>
            <div class="panel-body panel-collapse collapse in" id="frm-affectation">
                <form th:action="@{/staffadmin/affectations/save}" method="post" th:object="${affectation}">
                    
                    <table class="table table-striped" style="margin-bottom: 20px; border-bottom: 2px;">
                        <tbody>
                            <tr>
                                <th class="text-success">NOM & PRENOM</th>
                                <th>
                                    <span class="text-danger" th:text="${affectation.agent.nom +' '+affectation.agent.prenom}"></span>
                                    <input type="hidden" th:field="*{agent.idAgent}">
                                </th>
                                <td></td>
                                <td></td>
                                <th class="text-success">MATRICULE</th>
                                <th>
                                    <span class="text-danger" th:text="${affectation.agent.matricule}"></span>
                                </th>
                            </tr>
                            
                            <tr>
                                <th class="text-success">SERVICE DE DEPART</th>
                                <th>
                                    <span th:title="${affectation.uaDepart.appellation}" class="text-danger" th:text="${affectation.uaDepart.sigle}"></span>
                                    <input type="hidden" th:field="*{uaDepart.idUniteAdmin}" />
                                </th>
                                <td style="width: 15%;"></td>
                                <td></td>
                                <th class="text-success">SERVICE DE DESTINATION</th>
                                <th>
                                    <span th:title="${affectation.uaArrivee.appellation}" class="text-danger" th:text="${affectation.uaArrivee.sigle}"></span>
                                	<input type="hidden" th:field="*{uaArrivee.idUniteAdmin}">
                                </th>
                            </tr> 
                            
                            <tr>
                                <th class="text-success">DATE :</th>
                                <th>
                                    <span th:title="${affectation.dateAffectation}" class="text-danger" th:text="#dates.format(${affectation.dateAffectation})"></span>
                                    <input type="hidden" th:field="*{dateAffectation}" />
                                </th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>                            
                                                       
                        </tbody>
                    </table> 
                    <button style="margin-left: 5px;" type="submit" class="btn btn-lg pull-right btn-success">Valider</button>
                    <a class="btn btn-lg pull-right btn-default" th:href="@{'/staffadmin/affectations/' + ${affectation.agent.idAgent}}"><i class="glyphicon glyphicon-hand-left"></i> Revenir</a>
                    
                </form>

            </div>
        </div>
    </th:block>
</body>

</html>