<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" 
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
                layout:decorate="~{fragments/layout/layout}">    
    
	<head>		
		<meta charset="utf-8">
		<link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" />
		<style type="text/css">
		
			tfoot input 
			{
		        width: 100%;
		        padding: 3px;
		        box-sizing: border-box;
	    	}
			div.panel div.panel-heading
			{
				font-size: 20px;
				font-weight: bolder;
			}
			
			div.panel-default div.panel-heading, div.panel-default div.panel-heading a
			{
				/*color:#39B510;*/
				color: #FF9008;
			}
			
		</style>
	</head>
	<body>
        <div layout:fragment="content">
            <div class="container-fluid">
                
                <div class="panel panel-default">
                    <div class="panel-heading">Liste du personnel</div>
                    <div class="panel-body">
                        <table id="tbl-list-agents" class="table table-striped display" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Nom</th>
                                    <th>Prénom</th>
                                    <th>Sexe</th>
                                    <th>Matricule</th>
                                    <th>Sous direction</th>
                                    <th>Photo</th>
                                    <th></th>
                                </tr>                        
                            </thead>
                            <tbody>
                                <tr th:each="agent : ${listAgents}">
                                    <td th:text="${agent.nom}"></td>
                                    <td th:text="${agent.prenom}"></td>
                                    <td th:text="${agent.sexe}"></td>
                                    <td th:text="${agent.matricule}"></td>
                                    <td th:text="${agent.tutelleDirecte}"></td>
                                    <td>
                                    	<p class="centered"><a href="profile.html"><img th:src="${agent.photoPath}" class="img-circle" width="40" height="40"></a></p>
                                    </td>
									<td style="text-align: center; vertical-align: middle;">
										<div class="btn-group">
											<button type="button" class="btn btn-theme dropdown-toggle"
												data-toggle="dropdown">
												Actions <span class="caret"></span>
											</button>
											<ul class="dropdown-menu" role="menu">
												<li><a href="#"><i
														class="glyphicon glyphicon-eye-open"></i> Voire</a></li>
												<li><a href="#"><i class="glyphicon glyphicon-edit"></i>
														Modifier</a></li>
												<li><a href="#"><i class="glyphicon glyphicon-trash">
															Supprimer</i></a></li>
												<li><a href="#"><i class="glyphicon glyphicon-eye"></i>
														Nouveau Versement</a></li>
												<li><a href="#"><i class="glyphicon glyphicon-eye"></i>
														Nouvelle Commande</a></li>
												<li class="divider"></li>
												<li><a href="#">Separated link</a></li>
											</ul>
										</div>
									</td>                                    
                                </tr>                              
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Nom</th>
                                    <th>Prénom</th>
                                    <th>Sexe</th>
                                    <th>Matricule</th>
                                    <th>Sous direction</th>
                                    <th>Photo</th>
                                    <th></th>
                                </tr>                        
                            </tfoot>                              
                        </table>                       
                    </div>
                </div>
            </div>

	        	
        </div>
        <div layout:fragment="js-specifics-dependancies">
        	<script type="text/javascript" src="/staffadmin/js/agent/list-agent.js"></script>
        </div>
    </body>
</html>