<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" 
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
                layout:decorate="~{fragments/layout/layout}">    
    
	<head>		
		<meta charset="utf-8">
		<link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" />
		<style type="text/css">
		
			tfoot input 
			{
		        width: 100%;
		        padding: 3px;
		        box-sizing: border-box;
	    	}
			div.panel div.panel-heading
			{
				font-size: 20px;
				font-weight: bolder;
			}
			
			div.panel-default div.panel-heading, div.panel-default div.panel-heading a
			{
				/*color:#39B510;*/
				color: #FF9008;
			}
			
		</style>
	</head>
	<body>
        <div layout:fragment="content">
            <div class="container-fluid">
                
                <div class="panel panel-default">
                    <div class="panel-heading">Liste du personnel</div>
                    <div class="panel-body">
                        <table id="tbl-list-agents" class="table table-striped display" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Nom</th>
                                    <th>Prénom</th>
                                    <th>Sexe</th>
                                    <th>Matricule</th>
                                    <th>Sous direction</th>
                                    <th>Photo</th>
                                    <th></th>
                                </tr>                        
                            </thead>
                            <tbody>
                                <tr th:each="agent : ${listAgents}">
                                    <td th:text="${agent.nom}"></td>
                                    <td th:text="${agent.prenom}"></td>
                                    <td th:text="${agent.sexe}"></td>
                                    <td th:text="${agent.matricule}"></td>
                                    <td th:text="${agent.tutelleDirecte}"></td>
                                    <td>
                                    	<p class="centered"><a href="profile.html"><img th:src="${agent.photoPath}" class="img-circle" width="40" height="40"></a></p>
                                    </td>
									<td style="text-align: center; vertical-align: middle;">
										<div class="btn-group">
											<button type="button" class="btn btn-theme dropdown-toggle"
												data-toggle="dropdown">
												Actions <span class="caret"></span>
											</button>
											<ul class="dropdown-menu" role="menu">
												<li><a href="#"><i
														class="glyphicon glyphicon-eye-open"></i> Voire</a></li>
												<li><a href="#"><i class="glyphicon glyphicon-edit"></i>
														Modifier</a></li>
												<li><a href="#"><i class="glyphicon glyphicon-trash">
															Supprimer</i></a></li>
												<li><a href="#"><i class="glyphicon glyphicon-eye"></i>
														Nouveau Versement</a></li>
												<li><a href="#"><i class="glyphicon glyphicon-eye"></i>
														Nouvelle Commande</a></li>
												<li class="divider"></li>
												<li><a href="#">Separated link</a></li>
											</ul>
										</div>
									</td>                                    
                                </tr>                              
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Nom</th>
                                    <th>Prénom</th>
                                    <th>Sexe</th>
                                    <th>Matricule</th>
                                    <th>Sous direction</th>
                                    <th>Photo</th>
                                    <th></th>
                                </tr>                        
                            </tfoot>                              
                        </table>                       
                    </div>
                </div>
            </div>

	        	
        </div>
        <div layout:fragment="js-specifics-dependancies">
        	<script type="text/javascript" src="/staffadmin/js/agent/list-agent.js"></script>
        </div>
        

    </body>
</html>

<!-- <table id="example" class="display" style="width:100%">
    <thead>
        <tr>
            <th>Name</th>
            <th>Position</th>
            <th>Office</th>
            <th>Age</th>
            <th>Start date</th>
            <th>Salary</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Tiger Nixon</td>
            <td>System Architect</td>
            <td>Edinburgh</td>
            <td>61</td>
            <td>2011/04/25</td>
            <td>$320,800</td>
        </tr>
        <tr>
            <td>Garrett Winters</td>
            <td>Accountant</td>
            <td>Tokyo</td>
            <td>63</td>
            <td>2011/07/25</td>
            <td>$170,750</td>
        </tr>
        <tr>
            <td>Ashton Cox</td>
            <td>Junior Technical Author</td>
            <td>San Francisco</td>
            <td>66</td>
            <td>2009/01/12</td>
            <td>$86,000</td>
        </tr>
        <tr>
            <td>Cedric Kelly</td>
            <td>Senior Javascript Developer</td>
            <td>Edinburgh</td>
            <td>22</td>
            <td>2012/03/29</td>
            <td>$433,060</td>
        </tr>
        <tr>
            <td>Airi Satou</td>
            <td>Accountant</td>
            <td>Tokyo</td>
            <td>33</td>
            <td>2008/11/28</td>
            <td>$162,700</td>
        </tr>
        <tr>
            <td>Brielle Williamson</td>
            <td>Integration Specialist</td>
            <td>New York</td>
            <td>61</td>
            <td>2012/12/02</td>
            <td>$372,000</td>
        </tr>
        <tr>
            <td>Herrod Chandler</td>
            <td>Sales Assistant</td>
            <td>San Francisco</td>
            <td>59</td>
            <td>2012/08/06</td>
            <td>$137,500</td>
        </tr>

    </tbody>
    <tfoot>
        <tr>
            <th>Name</th>
            <th>Position</th>
            <th>Office</th>
            <th>Age</th>
            <th>Start date</th>
            <th>Salary</th>
        </tr>
    </tfoot>
</table> -->