<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head><meta charset="UTF-8"/></head>
    <body>
		<th:block th:fragment="frm-nomination-frag">
            <form id="frm-unite-admin" th:object="${nomination}" th:action="@{/staffadmin/nominations/save}" method="post" enctype="multipart/form-data">
				
                <div class="col col-lg-offset-8 col-lg-4 profile-pic" th:if="${agentANommer}">                           
                	<input type="hidden" th:field="*{agentNomme.idAgent}" th:value="${agentANommer.idAgent}">
               	</div>

               
				<div class="col col-lg-6">
                    <div class="form-group">
                        <label for="idFonction">Fonction</label>
                        <select required="required" th:field="*{fonctionNomination.idFonction}" class="form-control" id="idFonction">
                            <option value=""></option>
                            <option th:each="fonction : ${fonctionsNomination}" th:text="${fonction.nomFonction}" th:value="${fonction.idFonction}"></option>
                        </select>
                    </div>                                
                </div>

				<div class="col col-lg-6">
<!--                     <div class="form-group ">
                        <label for="titre">Titre</label>
                        <input required="required" th:field="*{titreNomination}" type="text" class="form-control" id="titre" placeholder="Titre">
                    </div> -->
                                    
                    <div class="form-group">
                        <label for="dateNomination">Date de nomination</label>
                        <input th:field="*{dateNomination}" type="date" class="form-control" id="dateNomination" placeholder="Date de nomination">
                    </div>                                    
                </div>

                                    


				<div class="col col-lg-6">               
                    <div class="form-group">
                        <label for="idUniteAdminDeNomination">Unité administrative</label>
                        <select required="required" th:field="*{uniteAdminDeNomination.idUniteAdmin}" class="form-control" id="idUniteAdminDeNomination" style="width: 100%;">
                            <option value=""></option>
<!--                        <option th:each="ua:${unitesAdmins}" th:value="${ua.idUniteAdmin}" th:text="${ua.toString}"></option> -->
                        </select>
                    </div>
                </div>
                                               
                <div class="col col-lg-6">
                    <div class="form-group">
                        <label for="acteNominationFile">Acte de nomination</label>
                        <input th:field="*{acteNominationFile}"  type="file" class="form-control-file" id="acteNominationFile">
                    </div>
                </div>   
                
                <div class="col col-lg-offset-8 col-lg-4">
	                <button class="btn btn-default pull-right" type="reset">Annuler</button> 
	                <button class="btn green-btn pull-right" type="submit">Enregistrer</button>    
	           </div>  
            </form>
      	</th:block>
    </body>
</html>