<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head><meta charset="UTF-8"/></head>
    <body>
		<th:block th:fragment="frm-confirmation-nomination-unite-admin-frag">
            <form id="frm-unite-admin" th:object="${nomination}" th:action="@{/staffadmin/nominations/save}" method="POST" enctype="multipart/form-data">
				<div class="panel panel-default main-content-block-item" >
                    <div class="panel-heading">
                    	Confirmation de la nommination
                    	<span class="pull-right" th:title="${nomination.agentNomme}">
							<img style="width: 35px; height: 35px;" id="photo-tag" th:src="@{'/staffadmin/agents/'+${nomination.agentNomme.idAgent}+'/photo'}" class="img-circle"/>
						</span>
                    </div>

                    <div class="panel-body">
						<input type="hidden" name="mode" th:value="${mode}" />
                        <table class="table table-striped">
                            <tr>
                                <th>Nom et Prénom</th>
                                <th style="width: 25%;"></th>
                                <th>
                                    <span class="text-success" th:text="${nomination.agentNomme.nom + ' ' + nomination.agentNomme.prenom}"></span>
                                    <input type="hidden" th:field="*{agentNomme.idAgent}">
                                </th>
                            </tr>

                            <tr>
                                <th>Matricule</th>
                                <th style="width: 20%;"></th>
                                <th class="text-success">
                                    <span th:text="${nomination.agentNomme.matricule}"></span>
<!--                                     <input th:field="*{agentNomme.matricule}"/> -->
                                </th>
                            </tr>

                            <tr>
                                <th th:text="${nomination.uniteAdminDeNomination.typeUniteAdmin.nomTypeUniteAdmin}">Structure</th>
                                <th style="width: 10%;"></th>
                                <th class="text-success" th:text="${nomination.uniteAdminDeNomination}"></th>
                                <input type="hidden" th:field="*{uniteAdminDeNomination.idUniteAdmin}">
                            </tr>

                            <tr>
                                <th>Fonction</th>
                                <th style="width: 10%;"></th>
                                <th class="text-success" th:text="${nomination.fonctionNomination.nomFonction}"></th>
                                <input type="hidden" th:field="*{fonctionNomination.idFonction}">
                            </tr>

							<tr>
                                <th>Numéro de l'acte de nomination</th>
                                <th style="width: 10%;"></th>
                                <th class="text-success" th:text="${nomination.numActeNominaton}"></th>
                                <input type="hidden" th:field="*{numActeNominaton}"/>
                            </tr>	

                            <tr>
                                <th>Date de nomination</th>
                                <th style="width: 10%;"></th>
                                <th class="text-success" th:text="${#dates.format(nomination.dateNomination, 'dd-MM-yyyy')}"></th>
                                <input type="hidden" th:field="*{dateNomination}"/>
                            </tr>
                            
                        </table>

                    </div>
<!--                <div class="col col-lg-12">
                        <div class="form-group">
                            <label for="acteNominationFile">Acte de nomination</label>
                            <input required th:field="*{acteNominationFile}"  type="file" class="form-control-file" id="acteNominationFile">
                        </div>
                    </div>  --> 
                </div>

                <div class="main-content-block-item">
                    <button id="btnEnregistrer" class="btn btn-lg green-btn pull-right" style="margin: 5px;" type="submit">Enregistrer</button>
	                <a th:if="${mode=='from-unite-admin'}" 	th:href="'/staffadmin/unites-admins/' + ${nomination.uniteAdminDeNomination.idUniteAdmin} +'/nominations/form?matricule='+ ${nomination.agentNomme.matricule} + '&dateNomination='+${nomination.dateNomination} + '&numActeNominaton='+${nomination.numActeNominaton}  + '&idFonction=' + ${nomination.fonctionNomination.idFonction}" 
	                	class="btn btn-lg btn-default pull-right" 
	                	style="margin: 5px;" type="reset">
	                	
                        <i class="glyphicon glyphicon-hand-left"></i> Revinir
                    </a> 
                    
                   <a th:if="${mode=='from-single-agent'}" 	th:href="'/staffadmin/nominations/form?idAgent=' + ${nomination.agentNomme.idAgent} + '&dateNomination='+${nomination.dateNomination} + '&idFonction=' + ${nomination.fonctionNomination.idFonction} + '&idUniteAdmin=' + ${nomination.uniteAdminDeNomination.idUniteAdmin} + '&numActeNomination=' + ${nomination.numActeNominaton}" 
	                	class="btn btn-lg btn-default pull-right" 
	                	style="margin: 5px;" type="reset">
	                	
                        <i class="glyphicon glyphicon-hand-left"></i> Revinir
                    </a>	                    
	           </div>  
            </form>
      	</th:block>
    </body>
</html>