<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:th="http://www.thymeleaf.org">
    <head>
    	<meta charset="utf-8"/>
    </head>

<body>

	<th:block th:fragment="infos-generales-frag">

        <div class="row content-panel">
            <div class="col-md-4 profile-text mt mb centered">
              <div class="right-divider hidden-sm hidden-xs">
                <h4>1922</h4>
                <h6>FOLLOWERS</h6>
                <h4>290</h4>
                <h6>FOLLOWING</h6>
                <h4>$ 13,980</h4>
                <h6>MONTHLY EARNINGS</h6>
              </div>
            </div>
            <!-- /col-md-4 -->
            <div class="col-md-4 profile-text">
              <h3>Sam Soffes</h3>
              <h6>Main Administrator</h6>
              <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC.</p>
              <br/>
              <p><button class="btn btn-theme"><i class="fa fa-envelope"></i> Send Message</button></p>
            </div>
            <!-- /col-md-4 -->
            <div class="col-md-4 centered">
              <div class="profile-pic">
                <p><img src="img/ui-sam.jpg" class="img-circle"/></p>
                <p>
                  <button class="btn btn-theme"><i class="fa fa-check"></i> Follow</button>
                  <button class="btn btn-theme02">Add</button>
                </p>
              </div>
            </div>
            <!-- /col-md-4 -->
          </div>
			    	<div id = "infos" class="panel-body">
			    		<div class="col col-lg-12">
					    	<div class="panel orange-panel">
					    		<div class="panel-heading">
					    			<h3 class="panel-title"><a href="#infos-generales" data-toggle="collapse">Informations personnelles</a></h3>
					    		</div>
					    		<div id = "infos-generales" class="list-group panel-collapse collapse">
						    		<li class="list-group-item"> Nom : <span class="badge" th:text="${user.agent.nom}"></span></li>
						    		<li class="list-group-item"> Prénom : <span class="badge" th:text="${user.agent.prenom}"></span></li>
						    		<li class="list-group-item"> Sexe : <span class="badge" th:text="${user.agent.sexe}"></span></li>
						    		<li class="list-group-item"> Date de naissance : <span class="badge" th:text="${user.agent.dateNaissance}"></span></li>
						    		<li class="list-group-item"> Lieu de naissance : <span class="badge" th:text="${user.agent.lieuNaissance}"></span></li>
						    		<li class="list-group-item"> E-mail : <span class="badge" th:text="${user.agent.email}"></span></li>
						    		<li class="list-group-item"> Téléphone : <span class="badge" th:text="${user.agent.tel}"></span></li>
					    		</div>
					    	</div>
					    </div>
					    <div class="col col-lg-12">
					    	<div  class="panel orange-panel">
					    		<div class="panel-heading">
					    			<h3 class="panel-title"><a href="#infos-professionnelles" data-toggle="collapse"> Informations professionnelles</a></h3>
					    		</div>	
					    		<div class="list-group panel-collapse collapse" id="infos-professionnelles" >			    	
						    		<li class="list-group-item"> Ministère : <span class="badge" th:text="${user.agent.fixeBureau}"></span></li>
						    		<li class="list-group-item"> Structure : <span class="badge" th:text="${user.agent.matricule}"></span></li>
						    		<li class="list-group-item"> Fonction : <span class="badge" th:text="${user.agent.sexe}"></span></li>
						    		<li class="list-group-item"> Matricule : <span class="badge" th:text="${user.agent.dateNaissance}"></span></li>
						    		<li class="list-group-item"> Type de pièce : <span class="badge" th:text="${user.agent.typePiece}"></span></li>
						    		<li class="list-group-item"> N° de pièce : <span class="badge" th:text="${user.agent.numPiece}"></span></li>
						    		<li class="list-group-item"> Type d'abonné : <span class="badge" th:text="${user.agent.numPiece}"></span></li>
					    		</div>
					    	</div>	
					    </div>
                        
					    <div class="col col-lg-12">
					    	<div  class="panel orange-panel">
					    		<div class="panel-heading">
					    			<h3 class="panel-title"><a href="#situation-conges" data-toggle="collapse"> Situation congés</a></h3>
					    		</div>	
					    		<div class="list-group panel-collapse collapse" id="situation-conges" >			    	
						    		<li class="list-group-item"> Ministère : <span class="badge" th:text="${user.agent.fixeBureau}"></span></li>
						    		<li class="list-group-item"> Structure : <span class="badge" th:text="${user.agent.matricule}"></span></li>
						    		<li class="list-group-item"> Fonction : <span class="badge" th:text="${user.agent.sexe}"></span></li>
						    		<li class="list-group-item"> Matricule : <span class="badge" th:text="${user.agent.dateNaissance}"></span></li>
						    		<li class="list-group-item"> Type de pièce : <span class="badge" th:text="${user.agent.typePiece}"></span></li>
						    		<li class="list-group-item"> N° de pièce : <span class="badge" th:text="${user.agent.numPiece}"></span></li>
						    		<li class="list-group-item"> Type d'abonné : <span class="badge" th:text="${user.agent.numPiece}"></span></li>
					    		</div>
					    	</div>	
					    </div>

                        <div class="col col-lg-12">
					    	<div  class="panel orange-panel">
					    		<div class="panel-heading">
					    			<h3 class="panel-title"><a href="#docs-admins" data-toggle="collapse">Documents administratifs</a></h3>
					    		</div>	
					    		<div class="list-group panel-collapse collapse" id="docs-admins" >			    	
						    		<li class="list-group-item"> Ministère : <span class="badge" th:text="${user.agent.fixeBureau}"></span></li>
						    		<li class="list-group-item"> Structure : <span class="badge" th:text="${user.agent.matricule}"></span></li>
						    		<li class="list-group-item"> Fonction : <span class="badge" th:text="${user.agent.sexe}"></span></li>
						    		<li class="list-group-item"> Matricule : <span class="badge" th:text="${user.agent.dateNaissance}"></span></li>
						    		<li class="list-group-item"> Type de pièce : <span class="badge" th:text="${user.agent.typePiece}"></span></li>
						    		<li class="list-group-item"> N° de pièce : <span class="badge" th:text="${user.agent.numPiece}"></span></li>
						    		<li class="list-group-item"> Type d'abonné : <span class="badge" th:text="${user.agent.numPiece}"></span></li>
					    		</div>
					    	</div>	
					    </div>
			    	</div>		    			
	</th:block>

</body>
</html>