<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" 
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    
    
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
  		<meta name="description" content="">
		<meta name="author" content="LeniCoulibaly">
		<meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
		<title>DMP-STAFFADMIN</title>
		
		<!-- ============CSS DEPENDANCIES==================-->
        
<!--         <th:block layout:fragment="css-dependancies"></th:block> -->
        <th:block  th:replace="fragments/layout/dependancies.html::css-dependancies"></th:block>
        <!-- ============CSS DEPENDANCIES==================-->		

	</head>
	<body>
		
        	
		<section id="content">
			<header class="header black-bg" th:replace="fragments/layout/top-bar-frag.html::top-bar-frag"></header>
            <aside th:replace="fragments/layout/side-bar-frag.html::side-bar-frag"></aside>
           
            <section id="main-content">
                <section class="wrapper site-min-height">
                    
                    <div class="row mt" style="margin-left: 90px;">
                        <div layout:fragment="content" style="padding: 0px;">
                        	<th:block th:if="${!#request.userPrincipal.principal.agent.active}">
                                
                                <div class="jumbotron">
                                    <div class="container">
                                        <h1>Compte inactif!</h1>
                                        <p>Veuillez changer votre mot de passe pour activer votre compte</p>
                                        <p>
                                            <a class="btn btn-primary btn-lg" th:href="@{/staffadmin/profil}">Profil</a>
                                        </p>
                                    </div>
                                </div>
                                
                        	</th:block>                            
                            <!-- ============PAGE CONTENTE==================-->        

                            <!-- ============PAGE CONTENTE==================-->                            
                        </div>
                    </div>
                </section>
                <!-- /wrapper -->
            </section>
            
            <footer class="site-footer" th:replace="fragments/layout/footer-frag.html::footer-frag"></footer>
            
        </section>
        <!-- ============JAVA SCRIPT DEPENDANCIES==================-->
        <th:block layout:fragment="js-dependancies" th:replace="fragments/layout/dependancies.html::js-dependancies"></th:block>
        <!-- ============JAVA SCRIPT DEPENDANCIES==================-->	
        <div layout:fragment="js-specifics-dependancies">
        
        </div>
	</body>
</html>