<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	</head>
    <aside th:fragment="side-bar-frag">
          <div id="sidebar" class="nav-collapse" style="filter:brightness(1.3);">
            <!-- sidebar menu start-->
            <ul class="sidebar-menu" id="nav-accordion">
              <!-- =======Photo de l'utilisateur======== --> 
<!--               <span th:text="${#request.userPrincipal.principal.agent.nom + ' ' + #request.userPrincipal.principal.agent.prenom}"></span> -->
              
              <p class="centered"><b style="color: rgb(243, 231, 137); font-size: 12px;" class="logo" th:text="${authoritiesDto.defaultRole.roleName}"></b></p>
              
              <p class="centered"><a th:href="@{/staffadmin/profil}"><img th:src="@{'/staffadmin/photo-agent/'+${#request.userPrincipal.principal.agent.idAgent}}" class="img-circle" height="80" width="80"></a></p>
              <h5 class="centered"><span th:text="${#request.userPrincipal.principal.agent.nom + ' ' + #request.userPrincipal.principal.agent.prenom}"></span></h5>
              <!-- =======Fin Photo de l'utilisateur======== --> 
                
              <!-- =======Lien tableau de bord======== -->
              <th:block th:if="${#request.userPrincipal.principal.agent.active}">
	              <li class="mt">
	                <a href="/">
	                  <i class="fa fa-dashboard"></i>
	                  <span>Dashboard</span>
	                </a>
	              </li>
	              <!-- =======Fin Lien tableau de bord======== -->
	                
	                
	              <li class="sub-menu">
	                <a href="#">
	                  <i class="fa fa-users"></i>
	                  <span>Gestion du personnel</span>
	                </a>
	                <ul class="sub">
	                	<li><a th:href="@{/staffadmin/list-agents}">Le personnel</a></li>
	                  	<li class="sub-menu">
	                    	<a th:href="@{/staffadmin/frm-agent}">Nouvel agent</a>
	                  	</li>
	                  	<li><a th:href="@{/staffadmin/frm-affectations-groupees/0}">Mouvements internes</a></li>
	                  	<li><a>Départs</a></li>
	                </ul>
	              </li>
	              
	              <li class="sub-menu">
	                <a href="javascript:;">
	                	<i class="fa fa-university" style="font-size:17px"></i>
<!-- 		                <i class="fa fa-building" style="font-size:17px"></i> -->
		                <span>Gestion des services</span>
	                 </a>
					 	<ul class="sub">
		                  <li><a th:href="@{/staffadmin/unites-admins}">Liste des services</a></li>
		                  <li><a href="/staffadmin/unites-admins/frm/0">Nouveau service</a></li>
	                	</ul>                 
	              </li>	              
	
	              <li class="sub-menu">
	                <a href="#">
	                  <i class="fa fa-users"></i>
	                  <span>Gérer les actes</span>
	                </a>
	   				<ul class="sub">
	   					<li><a>Attestation de travail</a></li>
	   					<li><a>Certificat de présence</a></li>
	   				</ul>
	              </li>    
	              
	              
	              
	              <li class="sub-menu">
	              	<a href="#">
	                	<i class="fa fa-users"></i>
	                  	<span>Congés et absence</span>
	                </a>
	   				<ul class="sub">
	   					<li><a>Congés</a></li>
	   					<li><a>Autorisations d'absence </a></li>
	   					<li><a>Repos maladie </a></li>
	   					<li><a>Demande de départs</a></li>
	   				</ul>
	              </li>        
	              
	              <li class="sub-menu">
	                <a href="/staffadmin/nominations/form">
	                  <i class="fa fa-users"></i>
	                  <span>Nomination</span>
	                </a>
	              </li> 
	              
	              <li class="sub-menu">
	                <a href="/staffadmin/promotion/form">
	                  <i class="fa fa-users"></i>
	                  <span>Promotion</span>
	                </a>
	              </li> 	              	                     
	              
	              <li class="sub-menu">
	              	<a href="#">
	                	<i class="fa fa-users"></i>
	                  	<span>Administration</span>
	                </a>
	   				<ul class="sub">
	   					<li><a href="/staffadmin/administration/list-users">Liste des utilisateurs</a></li>
	   					<li><a href="/staffadmin/administration/gestion-roles/form">Gestion des roles </a></li>
	   					<li><a href="/staffadmin/administration/creation/forms">Création </a></li>
	   				</ul>
	              </li>	 
	                
	                
	              <li class="sub-menu">
	                <a href="/staffadmin/archivage/agents">
	                  <i class="fa fa-book"></i>
	                  <span>Archivage</span>
	                 </a>
	              </li>
	              
	              <li class="sub-menu">
	                <a href="/staffadmin/annuaire">
	                  <i class="fa fa-users"></i>
	                  <span>Annuaire</span>
	                </a>
	              </li> 	              
	          </th:block>
                


            </ul>
            <!-- sidebar menu end-->
          </div>
        </aside>
</html>