<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	</head>
    <aside th:fragment="side-bar-frag">
          <div id="sidebar" class="nav-collapse" style="filter:brightness(1.3);">
            <!-- sidebar menu start-->
            <ul class="sidebar-menu" id="nav-accordion">
              <!-- =======Photo de l'utilisateur======== -->
              <p class="centered"><a href="profile.html"><img src="/img/ui-sam.jpg" class="img-circle" width="80"></a></p>
              <h5 class="centered">Sam Soffes</h5>
              <!-- =======Fin Photo de l'utilisateur======== --> 
                
              <!-- =======Lien tableau de bord======== -->
              <li class="mt">
                <a href="index.html">
                  <i class="fa fa-dashboard"></i>
                  <span>Dashboard</span>
                </a>
              </li>
              <!-- =======Fin Lien tableau de bord======== -->
                
                
              <li class="sub-menu">
                <a href="#">
                  <i class="fa fa-users"></i>
                  <span>Mouvements du personnel</span>
                </a>
                <ul class="sub">
                	<li><a th:href="@{/respo/list-agents/0}">Liste du personnel</a></li>
                  	<li class="sub-menu">
                    	<a href="#">Recrutement</a>
                    	<ul class="sub">
                      		<li><a th:href="@{/saf/frm-agent}">Enregistrer un nouvel agent</a> </li>
                      		<li><a  href="#">Liste des nouveaux agents</a></li>
                    	</ul>
                  	</li>
                  	<li><a>Gérer les départs</a></li>
                  	<li><a>Gérer les mouvements internes</a></li>
                </ul>
              </li>

              <li class="sub-menu">
                <a href="#">
                  <i class="fa fa-users"></i>
                  <span>Gérer les actes</span>
                </a>
   				<ul class="sub">
   					<li><a>Attestation de travail</a></li>
   					<li><a>Certificat de présence</a></li>
   				</ul>
              </li>    
              
              <li class="sub-menu">
              	<a href="#">
                	<i class="fa fa-users"></i>
                  	<span>Congés et absence</span>
                </a>
   				<ul class="sub">
   					<li><a>Congés</a></li>
   					<li><a>Autorisations d'absence </a></li>
   					<li><a>Repos maladie </a></li>
   					<li><a>Demande de départs</a></li>
   				</ul>
              </li>               
              
              <li class="sub-menu">
                <a th:href="@{/mucab/projets/bassam/index}">
                  <i class="fa fa-users"></i>
                  <span>Promotions/Nominations</span>
                </a>
   				<ul class="sub">
   					<li><a>Promotions</a></li>
   					<li><a>Nominations</a></li>
   				</ul>
              </li>              
                
              <li class="sub-menu">
                <a href="javascript:;">
                  <i class="fa fa-cogs"></i>
                  <span>Administration </span>
                 </a>
				        <ul class="sub">
                  <li><a th:href="@{/sataffadmin/respo/unites-admins}">Liste SD/DR</a></li>
                  <li><a href="#">Créer une unité administrative</a></li>
                </ul>                 
              </li>
              
              <li class="sub-menu">
                <a href="javascript:;">
                  <i class="fa fa-cogs"></i>
                  <span>Commandes </span>
                 </a>
				        <ul class="sub">
                  <li><a href="grids.html">Grids</a></li>
                  <li><a href="calendar.html">Calendar</a></li>
                  <li><a href="gallery.html">Gallery</a></li>
                  <li><a href="todo_list.html">Todo List</a></li>
                  <li><a href="dropzone.html">Dropzone File Upload</a></li>
                  <li><a href="inline_editor.html">Inline Editor</a></li>
                  <li><a href="file_upload.html">Multiple File Upload</a></li>
                </ul>                 
              </li>
                
                
              <li class="sub-menu">
                <a href="javascript:;">
                  <i class="fa fa-book"></i>
                  <span>Versements</span>
                 </a>
             
              </li>
                


            </ul>
            <!-- sidebar menu end-->
          </div>
        </aside>
</html>