<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:th="http://www.thymeleaf.org">
    <head>
    	<meta charset="utf-8"/>
    </head>

<body>
	<th:block th:fragment="list-sub-unites-admins-frag">
		
			<div class="panel green-panel">
				<div class="panel-heading">
					<h3 class="panel-title"><a href="#list-sub-unites-admins" data-toggle="collapse">Listes des unités administratives sous tutelle</a></h3>
				</div>
				<div id = "list-sub-unites-admins" class=" panel-body panel-collapse collapse in">
					<table class="table table-striped" id="sub-unites-admins-table">
						<thead>
							<tr>
								<th>Nom</th>
								<th>Encrage institutionnel</th>
								<th>Date de création</th>
								<th>Contacts</th>
								<th>Localisation</th>
								<th>Responsable</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody>
							<tr style="margin: 5px;" th:each="subAdmin:${unitesAdminsSousTutelles}">
												
								<td th:text="${subAdmin.appellation}">Nom</td>
								<td th:text="${subAdmin.typeUniteAdmin.nomTypeUniteAdmin}">Encrage institutionnel</td>
								<td th:text="${subAdmin.dateCreation}">Date de création</td>
								<td th:text="${subAdmin.contacts}">Contacts</td>
								<td th:text="${subAdmin.situationGeo}">Localisation</td>
								<td>
									<p>
										<span th:if="${subAdmin.postManager}">
											<a th:href="${subAdmin.postManager.agent} ? @{/staffadmin/profil(idAgent=${subAdmin.postManager.agent.idAgent})} : '#' ">
												<img style="width: 50px; height: 50px;" th:title="${subAdmin.postManager.agent}" th:alt="${subAdmin.postManager.agent}" th:src="${subAdmin.postManager.agent} ? @{'/staffadmin/agents/'+${subAdmin.postManager.agent.idAgent}+'/photo'} : '#'" class="img-circle"/>
											</a>
										</span>
									</p>
								</td>
								<td>
									<div class="btn-group pull-right">
										<button type="button" class="btn btn-theme dropdown-toggle" data-toggle="dropdown">
											Actions <span class="caret"></span>
										</button>
										<ul class="dropdown-menu" role="menu">
											<li>
												<a th:href="@{'/staffadmin/unites-admins/'+${subAdmin.idUniteAdmin}}">
													<i class="glyphicon glyphicon-eye-open"></i> Voire
												</a>
											</li>
											<li>
												<a th:href="${'/staffadmin/unites-admins/frm/' + subAdmin.idUniteAdmin}">
													<i class="glyphicon glyphicon-edit"></i>Modifier
												</a>
											</li>
																	
											<li>
												<a th:href="'/staffadmin/frm-affectations-groupees/'+ ${subAdmin.idUniteAdmin}">
													<i class="fa fa-users">Affecter du personnel</i>
												</a>
											</li>
															
											<li class="divider"></li>
										</ul>
									</div>
								</td>		
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<th>Nom</th>
								<th>Encrage institutionnel</th>
								<th>Date de création</th>
								<th>Contacts</th>
								<th>Localisation</th>
								<th>Responsable</th>
								<th>Actions</th>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>
		    			
	</th:block>
</body>
</html>