<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head><meta charset="UTF-8"/></head>
    <body>
		<th:block th:fragment="list-personnel-frag">

			<div class="panel green-panel">
				<div class="panel-heading">
					<h3 class="panel-title"><a href="#list-agents" data-toggle="collapse"> Liste du personnel</a></h3>
				</div>
				<div class="panel-body panel-collapse collapse" id="list-agents">
					<table id="tbl-list-agents" class="table table-striped display" style="width:100%">
						<thead>
							<tr>
								<th>Nom</th>
								<th>Prénom</th>
								<th>Sexe</th>
								<th>Matricule</th>
								<th>Fonction</th>
								<th>Grade</th>
								<th>Service</th>
								<th>Photo</th>
								<th>Actions</th>
							</tr>                        
						</thead>
						<tbody>
							<tr th:each="agent : ${personnel}">
								
								<td th:text="${agent.nom}"></td>
								<td th:text="${agent.prenom}"></td>
								<td th:text="${agent.sexe}"></td>
								<td th:text="${agent.matricule}"></td>
								<td th:text="${agent.fonction.nomFonction}"></td>
								<td th:text="${agent.grade.nomGrade}"></td>
								<td th:text="${agent.tutelleDirecte}"></td>
								<td>
									<p class="centered"><a th:href="@{/staffadmin/profil(idAgent=${agent.idAgent})}"><img th:title="${agent}" th:src="@{'/staffadmin/agents/'+${agent.idAgent}+'/photo'}" class="img-circle" width="40" height="40"></a></p>
								</td>
								<td style="text-align: center; vertical-align: middle;">
									<div class="btn-group">
										<button type="button" class="btn btn-theme dropdown-toggle"
											data-toggle="dropdown">
											Actions <span class="caret"></span>
										</button>
										<ul class="dropdown-menu" role="menu">
											<li><a th:href="@{/staffadmin/profil(idAgent=${agent.idAgent})}"><i
													class="glyphicon glyphicon-eye-open"></i> Voire</a></li>
											<li><a th:href="@{/staffadmin/profil(idAgent=${agent.idAgent})}"><i class="glyphicon glyphicon-edit"></i>
													Modifier</a></li>
													
											<li><a th:href="@{/staffadmin/nominations/form(idAgent=${agent.idAgent})}"><i class="glyphicon glyphicon-trash">
														Nomination</i></a></li>
											<li><a href="#"><i class="glyphicon glyphicon-eye"></i>
													Promotion</a></li>
											<li class="divider"></li>
											<li><a href="#">Separated link</a></li>
											
<!-- 												th:href="@{'/pathvars/single/' + ${item.id}}" -->
												<!-- th:href="@{/pathvars/single/{id}(id = ${item.id})}"   (for single pathVariable)-->
										</ul>
									</div>
								</td>                                    
							</tr>                              
						</tbody>
						<tfoot>
							<tr>
								<th>Nom</th>
								<th>Prénom</th>
								<th>Sexe</th>
								<th>Matricule</th>
								<th>Fonction</th>
								<th>Grade</th>
								<th>Service</th>
								<th>Photo</th>
								<th>Actions</th>
							</tr>                        
						</tfoot>                              
					</table> 
				</div>
			</div>			
			
      	</th:block>
    </body>
</html>