<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
</head>

<body>
    <th:block th:fragment="frm-creation-type-archive-frag">
	 	<div th:if="${globalErrorMsg}" class="col-md-12">
			
			<div class="alert alert-danger">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				<strong>Erreur!</strong> <span th:text="${globalErrorMsg}"></span>
			</div>
			
		</div>   
		<div style="margin-bottom: 10px;">
			<div class="panel panel-default">
				<div class="panel-heading">Création d'un nouveau type d'archive</div>

				<div class="panel-body">
				
					<div class="panel panel-default">
						<div class="panel-heading">
							<form method="post" th:object="${typeArchive}" class="form-inline" th:action="@{/staffadmin/administration/creation/typeArchive/save}">
								<div class="form-group">
									<input type="hidden" name="mode" th:value="${mode}"/>
									<input type="hidden" th:field="*{id}"/>
									<label class="control-label" for="typeArchive">Nom du type d'archive</label>
									<input style="width: 80%" required="required" type="text" th:field="*{nom}" class="form-control" id="typeArchive" placeholder="Type d'archive"/>							
									<button type="submit" class="btn btn-primary">Créer</button>					
								</div>
							</form>				
						</div>
					</div>
					
					<table id="tbl-typeArchive" class="table table-condensed">
						<thead>
							<tr>
								<th>Type d'archive</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="typeArch:${listTypeArchive}">
								<td  th:text="${typeArch.nom}"></td>
								<td>
									<a class="btn btn-orange" th:href="'/staffadmin/administration/creation/typeArchive/form?mode=update&&idTypeArchive='+${typeArch.id}">
										<i class="glyphicon glyphicon-edit"></i> Modifier
									</a>
								</td>
							</tr>
						</tbody>
					</table>
				
				</div>			
			
			</div>
				
						
		</div>
		
		

    </th:block>
</body>

</html>-